<ul class="nav nav-tabs">
  <li class="nav-item"><a class="nav-link {{ app.request.get('_route') == 'member' ? 'active' }}" href="{{ path('member', {localIdentifier: record.localIdentifier}) }}">Member Profile</a></li>
  <li class="nav-item"><a class="nav-link {{ app.request.get('_route') == 'member_change_log' ? 'active' }}" href="{{ path('member_change_log', {localIdentifier: record.localIdentifier}) }}">Change Log</a></li>
  <li class="nav-item"><a class="nav-link {{ app.request.get('_route') == 'member_verify_address' ? 'active' }}" href="{{ path('member_verify_address', {localIdentifier: record.localIdentifier}) }}">Verify Address</a></li>
  <li class="nav-item"><a class="nav-link {{ app.request.get('_route') == 'member_vcard' ? 'active' }}" href="{{ path('member_vcard', {localIdentifier: record.localIdentifier}) }}">Download vCard</a></li>
</ul>
