<tr>
  <td class="text-center">{{ record.localIdentifier|replace({'337-': ''})|number_format }}</td>
  <td>
    <a href="{{ path('member', {localIdentifier: record.localIdentifier}) }}">{{ record.preferredName }} {{ record.lastName }}</a>
    {% include 'directory/partials/directory_member_badges.html.twig' %}
  </td>
  <td>
    {% if record.primaryEmail %}
    <a href="mailto:{{ record.primaryEmail }}">{{ record.primaryEmail }}</a>
    {% endif %}
  </td>
  <td>
    {{ record.primaryTelephoneNumber }}
  </td>
  <td>
    {% if record.mailingAddressLine1 %}
    {{ record.mailingAddressLine1 }}<br />
    {% if record.mailingAddressLine2 %}{{ record.mailingAddressLine2 }}<br />{% endif %}
    {{ record.mailingCity }} {{ record.mailingState }}, {{ record.mailingPostalCode }}<br />
    {{ record.mailingCountry }}
    {% endif %}
  </td>
</tr>
