<tr>
  <td class="text-center">{{ record.localIdentifier|replace({'337-': ''})|number_format }}</td>
  <td>
    <a href="{{ path('member', {localIdentifier: record.localIdentifier}) }}">{{ record.preferredName }} {{ record.lastName }}</a>
    {% if record.isDeceased %}
    <sup class="badge badge-dark" title="Deceased">D</sup>
    {% endif %}
    {% if record.status.code == 'RENAISSANCE' %}
    <sup class="badge badge-secondary" title="Renaissance">R</sup>
    {% endif %}
  </td>
  <td>
    {% if record.memberEmails|first %}
    <a href="mailto:{{ record.memberEmails|first.email }}">{{ record.memberEmails|first.email }}</a>
    {% endif %}
  </td>
  <td>
    {% if record.memberPhoneNumbers|first %}
    {{ record.memberPhoneNumbers|first.phoneNumber }}
    {% endif %}
  </td>
  <td>
    {% if record.memberAddresses|first %}
    <div>
    {{ record.memberAddresses|first.addressLine1 }}<br />
    {% if record.memberAddresses|first.addressLine2 %}{{ record.memberAddresses|first.addressLine2 }}<br />{% endif %}
    {{ record.memberAddresses|first.city }} {{ record.memberAddresses|first.state }}, {{ record.memberAddresses|first.postalCode }}<br />
    {{ record.memberAddresses|first.country }}
    {% endif %}
  </td>
</tr>
