
{% macro totalCell(data, title, icon = 'plus', color = 'primary', format = 'number_format', currency = 'USD') %}
  <div class="col-sm-12 col-md-4 col-lg-3 mb-4">
    <div class="card border-left-{{ color }} shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-{{ color }} text-uppercase text-nowrap mb-1">{{ title }}</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800 text-nowrap">
              {% if format == 'number_format' %}
              {{ data|number_format }}
              {% elseif format == 'currency' %}
              {{ data|format_currency(currency) }}
              {% elseif format == 'date' %}
              {{ data|date('M j, Y') }}
              {% else %}
              {{ data|default('N/A') }}
              {% endif %}
            </div>
          </div>
          <div class="col-auto">
            <i class="{{icon}} fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endmacro %}

{% for total in totals %}
{% if totals|length > 1 %}<small class="text-muted">Currency: {{ total.currency }}</small>{% endif %}
<div class="row">
  {{ _self.totalCell(total.latestDonation, 'Latest Donation', 'fas fa-calendar', 'dark', 'date') }}
  {% if total.totalDonors is defined %}
  {{ _self.totalCell(total.totalDonors, 'Donors', 'fas fa-users', 'primary', 'number_format') }}
  {% endif %}
  {{ _self.totalCell(total.totalDonations, 'Donations', 'fas fa-hand-holding-usd', 'primary', 'number_format') }}
  {{ _self.totalCell(total.totalAmount, 'Total Amount', 'fas fa-dollar-sign', 'primary', 'currency', total.currency) }}
  {{ _self.totalCell(total.totalProcessingFee, 'Processing Fees', 'fas fa-file-invoice-dollar', 'danger', 'currency', total.currency) }}
  {{ _self.totalCell(total.totalNetAmount, 'Net Amount', 'fas fa-equals', 'success', 'currency', total.currency) }}
</div>
{% endfor %}
