<tr class="{% if donation.isAnonymous %}text-muted{% endif %}">
  <td data-order="{{ donation.receivedAt|date('Y-m-d') }}">
    <a href="{{ path('donation_show', {id: donation.id}) }}">{{ donation.receivedAt|date('n/j/Y') }}</a></td>
  {% if donation.isAnonymous %}
  <td data-order="Donor, Anonymous"><i class="fas fa-user-secret"></i> Anonymous Donor</td>
  {% else %}
  <td data-order="{{ donation.member.lastName }}, {{ donation.member.preferredName }}"><a href="{{ path('member_donations', {localIdentifier: donation.member.localIdentifier}) }}">{{ donation.member.displayName }}</a></td>
  {% endif %}
  <td>{{ donation.campaign }}</td>
  <td>{{ donation.description }}{% if donation.donorComment %} <span title="{{ donation.donorComment|escape('html_attr') }}" data-toggle="tooltip"><i class="far fa-sticky-note"></i></span>{% endif %}</td>
  <td class="text-right" data-order="{{ donation.amount }}">{{ donation.amount|format_currency(donation.currency) }}</td>
  <td class="text-right" data-order="{{ donation.processingFee }}">{{ donation.processingFee|format_currency(donation.currency) }}</td>
  <td class="text-right font-weight-bold" data-order="{{ donation.netAmount }}">{{ donation.netAmount|format_currency(donation.currency) }}</td>
  <td class="text-center" data-order="{{ donation.isRecurring }}">{{ donation.isRecurring ? '<i class="fas fa-redo"></i>' : '' }}</td>
  <td><a href="{{ path('donation_edit', {id: donation.id}) }}"><i class="fas fa-edit fa-fw"></i></a></td>
</tr>
