{{ form_start(form) }}
<div class="row">
  <div class="col-lg-4">
    <div class="card mb-3 shadow">
      <div class="card-header">Basics</div>
      <div class="card-body">
        {{ form_row(form.receivedAt) }}
        {{ form_row(form.receiptIdentifier) }}
        {{ form_row(form.member, {attr: { class: 'selectpicker', 'data-live-search': 'true'}}) }}
        <div id="donorNameFields" class="collapse">
          {{ form_row(form.donorFirstName) }}
          {{ form_row(form.donorLastName) }}
        </div>
        {{ form_row(form.campaign) }}
        {{ form_row(form.description) }}
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card mb-3 shadow">
      <div class="card-header">Amount</div>
      <div class="card-body">
        {{ form_row(form.amount) }}
        {{ form_row(form.currency) }}
        {{ form_row(form.processingFee, {label: 'Processing Fee'}) }}
        {{ form_row(form.netAmount, {label: 'Net Amount'}) }}
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card mb-3 shadow">
      <div class="card-header">Additional Details</div>
      <div class="card-body">
        {{ form_row(form.donorComment, {label: 'Donor Comment'}) }}
        {{ form_row(form.internalNotes, {label: 'Internal Notes'}) }}
        {{ form_row(form.donationType, {label: 'Donation Type'}) }}
        {{ form_row(form.cardType, {label: 'Card Type'}) }}
        {{ form_row(form.lastFour, {label: 'Last Four'}) }}
        {{ form_row(form.isAnonymous, {label: 'Anonymous?'}) }}
        {{ form_row(form.isRecurring, {label: 'Recurring?'}) }}
      </div>
    </div>
  </div>
</div>

{{ form_rest(form) }}
<div class="text-end mb-3">
  <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
</div>
{{ form_end(form) }}
