{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Campaigns{% endblock %}

{% block body %}
{% embed '_page_header.html.twig' %}
{% block page_header_title %}Campaigns{% endblock %}
{% block page_header_buttons %}
{% include 'donation/_buttons.html.twig' %}
{% endblock %}
{% endembed %}

{% include 'donation/_nav.html.twig' %}

{% if campaigns %}
<div class="card mb-3 shadow">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-striped" id="campaignTable">
        <thead>
          <tr>
            <th>Campaign</th>
            <th>Latest Donation</th>
            <th nowrap>Donors<sup><span data-toggle="tooltip" title="Non-Member donations excluded from donor count."><i class="fas fa-info-circle fa-fw"></i></sup></span></th>
            <th>Donations</th>
            <th>Amount</th>
            <th>Fees</th>
            <th>Net Amount</th>
          </tr>
        </thead>
        <tbody>
          {% for campaign in campaigns %}
          <tr>
            <td data-order="{{ campaign.campaign }}">{{ campaign.campaign }}</td>
            <td data-order="{{ campaign.latestDonation|date('Y-m-d') }}">{{ campaign.latestDonation|date('n/j/Y') }}</td>
            <td data-order="{{ campaign.totalDonors }}" class="text-right">{{ campaign.totalDonors|number_format }}</td>
            <td data-order="{{ campaign.totalDonations }}" class="text-right">{{ campaign.totalDonations|number_format }}</td>
            <td data-order="{{ campaign.totalAmount }}" class="text-right">{{ campaign.totalAmount|format_currency(campaign.currency) }}</td>
            <td data-order="{{ campaign.totalProcessingFee }}" class="text-right">{{ campaign.totalProcessingFee|format_currency(campaign.currency) }}</td>
            <td data-order="{{ campaign.totalNetAmount }}" class="text-right font-weight-bold">{{ campaign.totalNetAmount|format_currency(campaign.currency) }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% else %}
{% include '_no_records_card.html.twig' with {message: 'No Campaigns matched your criteria.'} %}
{% endif %}

{% include 'donation/_date_range_modal.html.twig' %}

{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('donations') }}
{% endblock %}
