{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{donation}}{% endblock %}

{% block body %}
<div class="h4">{{ donation }}</div>

{{ include('donation/_form.html.twig', {'button_label': 'Update'}) }}

{{ include('donation/_delete_form.html.twig') }}
{% endblock %}
