{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Donation Import{% endblock %}

{% block body %}
{% embed '_page_header.html.twig' %}
{% block page_header_title %}Donation Import{% endblock %}
{% endembed %}

{{ form_start(form) }}
<div class="card mb-3 shadow">
  <div class="card-body">
    {{ form_row(form.csv_file) }}
    {{ form_row(form.dry_run) }}
  </div>
  <div class="card-footer text-right">
    <button class="btn btn-primary">{{ button_label|default('Import') }}</button>
  </div>
</div>
{{ form_rest(form) }}


{% if donations %}
<div class="card mb-3 shadow">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Date</th>
            <th>Donor</th>
            <th>Campaign</th>
            <th>Description</th>
            <th>Amount</th>
            <th>Fees</th>
            <th>Net Amount</th>
            <th>Recurring?</th>
          </tr>
        </thead>
        <tbody>
          {% for donation in donations %}
          {% include 'donation/_donation_row.html.twig' %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endif %}

{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('donations') }}
{% endblock %}
