{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{donation}}{% endblock %}

{% block body %}
{% embed '_page_header.html.twig' %}
{% block page_header_title %}{{ donation }}{% endblock %}
{% block page_header_buttons %}
<a role="button" href="{{ path('donation_edit', {id: donation.id}) }}" class="btn btn-primary btn-sm"><i class="fas fa-edit fa-fw"></i> Edit</a>
{% endblock %}
{% endembed %}

<div class="row">
  <div class="col-lg-4">
    <div class="card mb-3 shadow">
      <div class="card-header">Basics</div>
      <div class="card-body">
        <dl>
          <dt>Received At</dt>
          <dd>{{ donation.receivedAt ? donation.receivedAt|date('Y-m-d H:i:s') : '' }}</dd>
          <dt>Receipt Identifier</dt>
          <dd>{{ donation.receiptIdentifier }}</dd>
          <dt>Member</dt>
          {% if donation.isAnonymous %}
          <dd><i class="fas fa-user-secret"></i> Anonymous Donor</dd>
          {% elseif donation.member %}
          <dd><a href="{{ path('member_show', {localIdentifier: donation.member.localIdentifier}) }}">{{ donation.member }}</a></dd>
          {% else %}
          <dd>{{ donation.donorFirstName }} {{ donation.donorLastName }}</dd>
          {% endif %}
          <dt>Campaign</dt>
          <dd>{{ donation.campaign }}</dd>
          <dt>Description</dt>
          <dd>{{ donation.description }}</dd>
        </dl>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card mb-3 shadow">
      <div class="card-header">Amount</div>
      <div class="card-body">
        <dl>
          <dt>Amount</dt>
          <dd>{{ donation.amount }}</dd>
          <dt>Currency</dt>
          <dd>{{ donation.currency }}</dd>
          <dt>Processing Fee</dt>
          <dd>{{ donation.processingFee }}</dd>
          <dt>Net Amount</dt>
          <dd>{{ donation.netAmount }}</dd>
        </dl>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card mb-3 shadow">
      <div class="card-header">Additional Details</div>
      <div class="card-body">
        <dl>
          <dt>Donor Comment</dt>
          <dd>{{ donation.donorComment|default('Not set.') }}</dd>
          <dt>Internal Notes</dt>
          <dd>{{ donation.internalNotes|default('Not set.') }}</dd>
          <dt>Donation Type</dt>
          <dd>{{ donation.donationType }}</dd>
          <dt>Card Type</dt>
          <dd>{{ donation.cardType }}</dd>
          <dt>Last Four</dt>
          <dd>{{ donation.lastFour }}</dd>
          <dt>Anonymous?</dt>
          <dd>{{ donation.isAnonymous ? 'Yes' : 'No' }}</dd>
          <dt>Recurring?</dt>
          <dd>{{ donation.isRecurring ? 'Yes' : 'No' }}</dd>
        </dl>
      </div>
    </div>
  </div>
</div>

{% if donation.transactionPayload %}
<details>
  <summary>Transaction Payload</summary>
  <code>{{ donation.transactionPayload ? donation.transactionPayload|json_encode : '' }}</code>
</details>
{% endif %}


{% endblock %}
