{{ form_start(form) }}
<div class="row">
  <div class="col-lg-8">
    <div class="card mb-3 shadow">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            {{ form_row(form.name) }}
          </div>
          <div class="col-md-6">
            {{ form_row(form.code, {help: 'Unique key for data exchange. Leave blank to auto-generate.'}) }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            {{ form_row(form.startAt, {label: 'Event Start'}) }}
          </div>
          <div class="col-md-6">
            {{ form_row(form.location) }}
          </div>
        </div>
        {{ form_row(form.description) }}
      </div>
    </div>
    {% if form.vars.value.id %}
    <div class="card mb-3 shadow">
      <div class="card-header">Attendees</div>
      <div class="card-body">
        <ol class="attendees" data-prototype="{{ form_widget(form.attendees.vars.prototype)|e('html_attr') }}">
          {% for attendee in form.attendees %}
          <li>
            <div class="input-group mb-2">
            {{ form_errors(attendee) }}
            {{ form_widget(attendee) }}
            </div>
          </li>
          {% endfor %}
        </ol>
        <div class="text-right">
          <button type="button" class="add_item_link btn btn-sm btn-secondary" data-collection-holder-class="attendees">Add an Attendee</button>
        </div>

      </div>
    </div>
    {% endif %}
    {{ form_rest(form) }}
    <div class="text-right">
      <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
    </div>
  </div>
</div>
{{ form_end(form) }}
