{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Change Password{% endblock %}

{% block body %}
{% embed '_page_header.html.twig' %}
{% block page_header_title %}Profile{% endblock %}
{% endembed %}

{{ form_start(form) }}
<div class="card mb-3 shadow" style="max-width:40rem">
  <div class="card-header">Change Password</div>
  <div class="card-body">
    {{ form_row(form.plainPassword) }}
  </div>
<div class="card-footer text-right">
  <button class="btn btn-primary">{{ button_label|default('Update') }}</button>
</div>
</div>
{{ form_rest(form) }}
{{ form_end(form) }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% endblock %}
