<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{{ config.app_name }} - Log In</title>
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_link_tags('login') }}
  </head>

  <body class="text-center">
    <form method="post" class="form-signin" >
      {% if error %}
          <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
      {% endif %}
      {% if config.app_logo %}
      <div class="text-center mb-5">
        <img src="{{ config.app_logo }}" class="img-fluid" style="max-height:40vh" />
      </div>
      {% else %}
      <div class="h3 mb-3 font-weight-normal">Please sign in</div>
      {% endif %}
      <label for="inputEmail" class="sr-only">Email address</label>
      <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" value="{{ last_username }}" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <div class="checkbox mb-3">
        <label>
          <input name="_remember_me" type="checkbox" value="remember-me" checked /> Stay logged in.
        </label>
      </div>
      <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    {{ encore_entry_script_tags('app') }}
  </body>
</html>
