{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Profile{% endblock %}

{% block body %}
<div class="h4">Profile</div>

{{ form_start(form) }}
<div class="card mb-3" style="max-width:25rem">
  <div class="card-header">Update Profile</div>
  <div class="card-body">
    {{ form_row(form.email) }}
  </div>
  <div class="card-footer text-right">
    {{ form_widget(form.submit, {label: 'Update Profile'}) }}
  </div>
</div>
{{ form_rest(form) }}
{{ form_end(form) }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% endblock %}
