<div class="mt-1">
  {% if member.isDeceased %}
  <a href="{{ path('deceased') }}"><sup class="badge bg-black text-white" title="Deceased">Deceased</sup></a>
  {% endif %}
  {% if member.isLost %}
  <a href="{{ path('lost') }}"><sup class="badge bg-warning text-bg-warning" title="Lost">Lost</sup></a>
  {% endif %}
  {% if member.isLocalDoNotContact %}
  <a href="{{ path('do_not_contact') }}"><sup class="badge bg-danger text-bg-danger" title="Do Not Contact">Do Not Contact</sup></a>
  {% endif %}
  {% for tag in member.tags %}
  <a href="{{ path('tag', {tagId: tag.id}) }}"><sup class="badge bg-secondary text-bg-secondary" title="{{ tag.tagName }}">{{ tag.tagName }}</sup></a>
  {% endfor %}
</div>
