
  <div class="row">
    <div class="col-lg-4">

      <div class="card mb-3 shadow">
        <div class="card-header">Identifiers</div>
        <div class="card-body">
          {{ form_row(form.localIdentifier, {label: 'Local Identifier'}) }}
          {{ form_row(form.externalIdentifier, {label: 'External Identifier'}) }}
        </div>
      </div>

      <div class="card mb-3 shadow">
        <div class="card-header">Basics</div>
        <div class="card-body">
          {{ form_row(form.prefix, {label: 'Prefix', attr: {list: 'prefix_choices'}}) }}
          <datalist id="prefix_choices">
            <option>Mr.</option>
            <option>Mrs.</option>
            <option>Ms.</option>
            <option>Miss</option>
            <option>Dr.</option>
            <option>Prof.</option>
            <option>Rev.</option>
            <option>1st. Lt.</option>
            <option>2nd. Lt.</option>
            <option>Adm.</option>
            <option>Amb.</option>
            <option>Brig. Gen.</option>
            <option>Capt.</option>
            <option>Cdr.</option>
            <option>Col.</option>
            <option>Cpl.</option>
            <option>Gen.</option>
            <option>Hon.</option>
            <option>Lt.</option>
            <option>Lt. Cdr.</option>
            <option>Lt. Col.</option>
            <option>Maj. Gen.</option>
            <option>Maj.</option>
            <option>SGM</option>
            <option>Sgt.</option>
            <option>Sister</option>
	        </datalist>
          {{ form_row(form.firstName, {label: 'First Name'}) }}
          {{ form_row(form.preferredName, {label: 'Preferred Name'}) }}
          {{ form_row(form.middleName, {label: 'Middle Name'}) }}
          {{ form_row(form.lastName, {label: 'Last Name'}) }}
          {{ form_row(form.suffix, {label: 'Suffix', attr: {list: 'suffix_choices'}}) }}
          <datalist id="suffix_choices">
            <option>A.C.S.W.</option>
            <option>A.I.A.</option>
            <option>A.S.I.D.</option>
            <option>Attorney at Law</option>
            <option>Doctor or Audiology</option>
            <option>B.S.N.</option>
            <option>C.C.M.</option>
            <option>C.F.A.</option>
            <option>C.F.P.</option>
            <option>C.F.R.E.</option>
            <option>CGFM</option>
            <option>Ch.E.</option>
            <option>ChFC</option>
            <option>C.L.U.</option>
            <option>C.M.A.</option>
            <option>C.M.S.W.</option>
            <option>C.M.T.</option>
            <option>C.P.A.</option>
            <option>Certified Payroll Professional</option>
            <option>C.P.S.</option>
            <option>C.T.</option>
            <option>D.Ph.</option>
            <option>D.D.S.</option>
            <option>D.M.D.</option>
            <option>D.N.P.</option>
            <option>D.O.</option>
            <option>D.V.M.</option>
            <option>Ed.D.</option>
            <option>Ensign</option>
            <option>Esq.</option>
            <option>F.A.C.P.</option>
            <option>F.A.C.S.</option>
            <option>J.D.</option>
            <option>L.C.S.W.</option>
            <option>L.M.T.</option>
            <option>L.P.N.</option>
            <option>M.B.A.</option>
            <option>M.D.</option>
            <option>M.S.N.</option>
            <option>M.S.N., R.N.</option>
            <option>M.S.S.W.</option>
            <option>M.S.W.</option>
            <option>M.T.</option>
            <option>Doctor of Optometry</option>
            <option>P.E.</option>
            <option>PharmD</option>
            <option>Ph.D.</option>
            <option>P.T.</option>
            <option>R.D.</option>
            <option>R.N.</option>
            <option>US Army</option>
            <option>US Army (Retired)</option>
            <option>USAF</option>
            <option>USAF (Retired)</option>
            <option>USMC</option>
            <option>USMC (Retired)</option>
            <option>USN</option>
            <option>USN (Retired)</option>
          </datalist>
          {{ form_row(form.birthDate, {label: 'Birth Date'}) }}
          <hr />
          {{ form_row(form.primaryEmail, {label: 'Primary Email'}) }}
          {{ form_row(form.primaryTelephoneNumber, {label: 'Primary Telephone Number'}) }}
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card mb-3 shadow">
        <div class="card-header">
          {% if is_postal_validator_service_configured() %}
          <div class="float-right">
            <a href="javascript:void(0)" class="btn btn-secondary btn-sm py-0" id="verifyAddressButton"><i class="fas fa-mail-bulk"></i> Verify Address</a>
            <span id="verifyAddressStatusIndicator" class="d-none"><i class="fas fa-spinner fa-spin fa-lg ml-1"></i></span>
          </div>
          {% endif %}
          Mailing Address
        </div>
        <div class="card-body">
          {{ form_row(form.mailingAddressLine1, {label: 'Address'}) }}
          {{ form_row(form.mailingAddressLine2, {label: false}) }}
          {{ form_row(form.mailingCity, {label: 'City'}) }}
          {{ form_row(form.mailingState, {label: 'State/Province'}) }}
          {{ form_row(form.mailingPostalCode, {label: 'Postal Code'}) }}
          {{ form_row(form.mailingCountry, {label: 'Country'}) }}
        </div>
      </div>
      <div class="card mb-3 shadow">
        <div class="card-header">Social Media</div>
        <div class="card-body">
          {{ form_row(form.linkedinUrl, {label: 'LinkedIn URL', attr: {placeholder: 'e.g. https://www.linkedin.com/in/williamhgates'}}) }}
          {{ form_row(form.facebookUrl, {label: 'Facebook URL', attr: {placeholder: 'e.g. https://www.facebook.com/zuck'}}) }}
          <hr />
          {{ form_row(form.photoUrl, {label: 'Photo URL'}) }}
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card mb-3 shadow">
        <div class="card-header">Membership Details</div>
        <div class="card-body">
          {{ form_row(form.joinDate, {label: 'Join Date'}) }}
          {{ form_row(form.classYear, {label: 'Class Year'}) }}
          {{ form_row(form.status, {label: 'Status'}) }}
        </div>
      </div>
      <div class="card mb-3 shadow">
        <div class="card-header">Employment</div>
        <div class="card-body">
          {{ form_row(form.employer, {label: 'Employer'}) }}
          {{ form_row(form.jobTitle, {label: 'Job Title'}) }}
          {{ form_row(form.occupation, {label: 'Occupation'}) }}
        </div>
      </div>
      <div class="card mb-3 shadow">
        <div class="card-header">Contact Flags</div>
        <div class="card-body">
          {{ form_row(form.isLost, {label: 'Lost' }) }}
          {{ form_row(form.isDeceased, {label: 'Deceased'}) }}
          {{ form_row(form.isLocalDoNotContact, {label: 'Do Not Contact'}) }}
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8">
      <div class="card mb-3 shadow">
        <div class="card-header">Notes</div>
        <div class="card-body">
          {{ form_row(form.directoryNotes, {label: 'Directory Notes', help: 'Markdown formatting available.', attr: { rows: 5 }}) }}
          {% if form.tags is defined %}
          {{ form_row(form.tags, {label: 'Tags', attr: { class: 'selectpicker' }}) }}
          {% endif %}
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card mb-3 shadow">
        <div class="card-header">GPS Coordinates</div>
        <div id="gpsInfoBox" class="card-body">
          <div class="d-flex">
            <div class="p-2"><i class="fas fa-info-circle"></i></div>
            <div class="p-2">
              <p>Coordinates are updated automatically on record save.</p>
              <a href="javascript:void(0)" class="showGpsFormFields">Set Manually</a>
            </div>
          </div>
        </div>
        <div id="gpsFormFields" class="card-body collapse">
          {{ form_row(form.mailingLatitude, {label: 'Latitude'}) }}
          {{ form_row(form.mailingLongitude, {label: 'Longitude'}) }}
        </div>
      </div>
    </div>
  </div>
