
  <div class="row">
    <div class="col-lg-4">

      <div class="card mb-3 shadow">
        <div class="card-header">Identifiers</div>
        <div class="card-body">
          {{ form_row(form.localIdentifier, {label: 'Local Identifier'}) }}
          {{ form_row(form.externalIdentifier, {label: 'External Identifier'}) }}
          {{ form_row(form.facebookIdentifier, {label: 'Facebook Identifier'}) }}
        </div>
      </div>

      <div class="card mb-3 shadow">
        <div class="card-header">Basics</div>
        <div class="card-body">
          {{ form_row(form.firstName, {label: 'First Name'}) }}
          {{ form_row(form.preferredName, {label: 'Preferred Name'}) }}
          {{ form_row(form.middleName, {label: 'Middle Name'}) }}
          {{ form_row(form.lastName, {label: 'Last Name'}) }}
          <hr />
          {{ form_row(form.primaryEmail, {label: 'Primary E-mail'}) }}
          {{ form_row(form.primaryTelephoneNumber, {label: 'Primary Telephone Number'}) }}
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card mb-3 shadow">
        <div class="card-header">
          {% if is_postal_validator_service_configured() %}
          <div class="float-right">
            <a href="javascript:void(0)" class="btn btn-secondary btn-sm py-0" id="verifyAddressButton"><i class="fas fa-mail-bulk"></i> Verify Address</a>
            <span id="verifyAddressStatusIndicator" class="d-none"><i class="fas fa-spinner fa-spin fa-lg ml-1"></i></span>
          </div>
          {% endif %}
          Mailing Address
        </div>
        <div class="card-body">
          {{ form_row(form.mailingAddressLine1, {label: 'Address'}) }}
          {{ form_row(form.mailingAddressLine2, {label: false}) }}
          {{ form_row(form.mailingCity, {label: 'City'}) }}
          {{ form_row(form.mailingState, {label: 'State/Province'}) }}
          {{ form_row(form.mailingPostalCode, {label: 'Postal Code'}) }}
          {{ form_row(form.mailingCountry, {label: 'Country'}) }}
        </div>
      </div>
      <div class="card mb-3 shadow">
        <div class="card-header">Contact Flags</div>
        <div class="card-body">
          {{ form_row(form.isLost, {label: 'Lost' }) }}
          {{ form_row(form.isDeceased, {label: 'Deceased'}) }}
          {{ form_row(form.isLocalDoNotContact, {label: 'Do Not Contact (Local)'}) }}
          {{ form_row(form.isExternalDoNotContact, {label: 'Do Not Contact (External)'}) }}
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card mb-3 shadow">
        <div class="card-header">Details</div>
        <div class="card-body">
          {{ form_row(form.joinDate, {label: 'Join Date'}) }}
          {{ form_row(form.classYear, {label: 'Class Year'}) }}
          {{ form_row(form.status, {label: 'Status'}) }}
        </div>
      </div>
      <div class="card mb-3 shadow">
        <div class="card-header">Employment</div>
        <div class="card-body">
          {{ form_row(form.employer, {label: 'Employer'}) }}
          {{ form_row(form.jobTitle, {label: 'Job Title'}) }}
          {{ form_row(form.occupation, {label: 'Occupation'}) }}
          <hr />
          {{ form_row(form.linkedinUrl, {label: 'LinkedIn URL', attr: {placeholder: 'e.g. https://www.linkedin.com/in/williamhgates/'}}) }}
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8">
      <div class="card mb-3 shadow">
        <div class="card-header">Notes</div>
        <div class="card-body">
          {{ form_row(form.directoryNotes, {label: 'Directory Notes', help: 'Markdown formatting available.', attr: { rows: 5 }}) }}
          {% if form.tags is defined %}
          {{ form_row(form.tags, {label: 'Tags', attr: { class: 'selectpicker' }}) }}
          {% endif %}
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card mb-3 shadow">
        <div class="card-header">GPS Coordinates</div>
        <div id="gpsInfoBox" class="card-body">
          <div class="d-flex">
            <div class="p-2"><i class="fas fa-info-circle"></i></div>
            <div class="p-2">
              <p>Coordinates are updated automatically on record save.</p>
              <a href="javascript:void(0)" class="showGpsFormFields">Set Manually</a>
            </div>
          </div>
        </div>
        <div id="gpsFormFields" class="card-body collapse">
          {{ form_row(form.mailingLatitude, {label: 'Latitude'}) }}
          {{ form_row(form.mailingLongitude, {label: 'Longitude'}) }}
        </div>
      </div>
    </div>
  </div>
