<div class="row">
  <div class="col-lg-3">
    <dl>
      <dt>External Identifier</dt>
      <dd>{{ member.externalIdentifier}}</dd>
      <dt>Local Identifier</dt>
      <dd>{{ member.localIdentifier }}</dd>
      <dt>Full Name</dt>
      <dd>{{ member.firstName }} {{ member.middleName }} {{ member.lastName }}</dd>
    </dl>
  </div>
  <div class="col-lg-3">
    <dl>
      <dt>Mailing Address</dt>
      <dd>
        {{ member.mailingAddressLine1 }}<br />
        {% if member.mailingAddressLine2 %}{{ member.mailingAddressLine2 }}<br />{% endif %}
        {{ member.mailingCity }}, {{ member.mailingState }} {{ member.mailingPostalCode }}<br />
        {{ member.mailingCountry }}
      </dd>
    </dl>
  </div>
  <div class="col-lg-3">
    <dl>
      <dt>Primary E-mail</dt>
      <dd>{{ member.primaryEmail }}</dd>
      <dt>Primary Telephone</dt>
      <dd>{{ member.primaryTelephoneNumber }}</dd>
    </dl>
  </div>
  <div class="col-lg-3">
    <dl>
      <dt>Class Year</dt>
      <dd>{{ member.classYear }}</dd>
      <dt>Join Date</dt>
      <dd>{{ member.joinDate|date('Y-m-d') }}</dd>
      <dt>Status</dt>
      <dd>Undergraduate</dd>
    </dl>
  </div>
</div>
