<div class="row">
  <div class="col-lg-3">
    <dl>
      <dt>External Identifier</dt>
      <dd>{{ record.externalIdentifier}}</dd>
      <dt>Local Identifier</dt>
      <dd>{{ record.localIdentifier }}</dd>
      <dt>Full Name</dt>
      <dd>{{ record.firstName }} {{ record.middleName }} {{ record.lastName }}</dd>
    </dl>
  </div>
  <div class="col-lg-3">
    <dl>
      <dt>Mailing Address</dt>
      <dd>
        {{ record.mailingAddressLine1 }}<br />
        {% if record.mailingAddressLine2 %}{{ record.mailingAddressLine2 }}<br />{% endif %}
        {{ record.mailingCity }}, {{ record.mailingState }} {{ record.mailingPostalCode }}<br />
        {{ record.mailingCountry }}
      </dd>
    </dl>
  </div>
  <div class="col-lg-3">
    <dl>
      <dt>Primary E-mail</dt>
      <dd>{{ record.primaryEmail }}</dd>
      <dt>Primary Telephone</dt>
      <dd>{{ record.primaryTelephoneNumber }}</dd>
    </dl>
  </div>
  <div class="col-lg-3">
    <dl>
      <dt>Class Year</dt>
      <dd>{{ record.classYear }}</dd>
      <dt>Join Date</dt>
      <dd>{{ record.joinDate|date('Y-m-d') }}</dd>
      <dt>Status</dt>
      <dd>Undergraduate</dd>
    </dl>
  </div>
</div>
