{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ member.displayName }} - Communications{% endblock %}

{% block body %}
{% embed '_page_header.html.twig' %}
{% block page_header_title %}{{ member.displayName }}{% endblock %}
{% endembed %}

{% include 'member/_badges.html.twig' %}

{% include 'member/_nav.html.twig' %}

<div class="row">
  <div class="col-lg-8">
    {% if communicationLogs %}
    <div class="card shadow mb-3">
      <div class="card-body">
        <table id="communicationsTable" class="table w-100 mb-0">
          <thead>
            <tr>
              <th>Logged</th>
              <th>Type</th>
              <th data-orderable="false">Summary</th>
              <th>User</th>
              <th class="col-edit" data-orderable="false">&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            {% for log in communicationLogs %}
            {% include 'communication/_row.html.twig' %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    {% else %}
    {% include '_no_records_card.html.twig' with {message: 'No Communications matched your criteria.'} %}
    {% endif %}
  </div>
  <div class="col-lg-4">
    {{ form_start(form) }}
    <div class="card shadow mb-3">
      <div class="card-header">
        Log New Communication
      </div>
      <div class="card-body">
        {{ form_row(form.loggedAt, {label: 'Logged At'}) }}
        {{ form_row(form.type) }}
        {{ form_row(form.summary, {attr: {rows: 10}}) }}
        {{ form_rest(form) }}
      </div>
      <div class="card-footer text-end">
        <button class="btn btn-primary">Create Log Entry</button>
      </div>
    </div>
    {{ form_end(form) }}
  </div>
</div>

{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('communications') }}
{% endblock %}
