{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ member.displayName }} - Donations{% endblock %}

{% block body %}
{% embed '_page_header.html.twig' %}
{% block page_header_title %}{{ member.displayName }}{% endblock %}
{% endembed %}

{% include 'member/_badges.html.twig' %}

{% include 'member/_nav.html.twig' %}

{% if donations|length > 0 %}
<div class="card mb-3 shadow">
  <div class="card-body">
    <div id="donationChart"></div>
  </div>
</div>

{% include 'donation/_donation_totals.html.twig' %}

<div class="card shadow">
  <div class="card-body">
    <table class="table w-100" id="donationsTable">
      <thead>
        <tr>
          <th>Date</th>
          <th>Campaign</th>
          <th>Description</th>
          <th>Amount</th>
          <th>Fees</th>
          <th>Net Amount</th>
          <th>Recurring?</th>
          <th class="col-edit" data-orderable="false"></td>
        </tr>
      </thead>
      <tbody>
        {% for donation in donations %}
        {% include 'donation/_donation_row.html.twig' with {hideDonor: true} %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% else %}
{% include '_no_records_card.html.twig' with {message: 'No Donations matched your criteria.'} %}
{% endif %}

{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('donations') }}
{% include 'donation/_column_chart_loader.html.twig' %}
{% endblock %}
