{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Member Export{% endblock %}

{% block stylesheets -%}
{{ parent() }}
{{ encore_entry_link_tags('map') }}
{% endblock %}

{% block body %}
{% embed '_page_header.html.twig' %}
{% block page_header_title %}Member Export{% endblock %}
{% endembed %}

<div class="alert alert-info">
  <strong>Remember!</strong> The contact information for our members provided by this system is considered confidential.
</div>

{{ form_start(form) }}
<div class="card mb-3 shadow">
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        {{ form_row(form.default_filters) }}
        {{ form_row(form.mailable) }}
        {{ form_row(form.emailable) }}
        {% if form.statuses is defined %}{{ form_row(form.statuses) }}{% endif %}
        {% if form.tags is defined %}{{ form_row(form.tags) }}{% endif %}
      </div>
      <div class="col-md-6">
        {{ form_row(form.columns) }}
      </div>
  </div>
  <div class="card-footer text-right">
    <button class="btn btn-primary">{{ button_label|default('Export') }}</button>
  </div>
</div>
{{ form_rest(form) }}
{{ form_end(form) }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% endblock %}
