{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Export{% endblock %}

{% block stylesheets -%}
{{ parent() }}
{{ encore_entry_link_tags('map') }}
{% endblock %}

{% block body %}

<div class="h4">Export</div>

<div class="alert alert-info">
  <strong>Remember!</strong> The contact information for our members provided by this system is considered confidential.
</div>

{{ form_start(form) }}
<div class="card">
  <div class="card-header">Export Members</div>
  <div class="card-body">
    {{ form_row(form.default_filters) }}
    {{ form_row(form.mailable) }}
    {{ form_row(form.emailable) }}
    {{ form_row(form.statuses) }}
    {{ form_row(form.tags) }}
  </div>
  <div class="card-footer text-right">
    <button class="btn btn-primary">{{ button_label|default('Export') }}</button>
  </div>
</div>
{{ form_rest(form) }}
{{ form_end(form) }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% endblock %}
