{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - New Member {% endblock %}

{% block body %}
{% embed '_page_header.html.twig' %}
{% block page_header_title %}New Member{% endblock %}
{% block page_header_buttons %}
<a role="button" href="{{ path('import') }}" class="btn btn-sm btn-primary"><i class="fas fa-upload fa-fw"></i> Import from CSV</a>
{% endblock %}
{% endembed %}

{{ form_start(form) }}
{% include 'member/_form.html.twig' %}
<div class="text-end mb-3">
  <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
</div>
{{ form_rest(form) }}
{{ form_end(form) }}

{% endblock %}

{% block stylesheets -%}
{{ parent() }}
{{ encore_entry_link_tags('member') }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('member') }}
{% endblock %}
