{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ member.displayName }} {% endblock %}

{% block stylesheets -%}
{{ parent() }}
{{ encore_entry_link_tags('member') }}
{% endblock %}

{% block body %}
{% embed '_page_header.html.twig' %}
{% block page_header_title %}{{ member.displayName }}{% endblock %}
{% block page_header_buttons %}
{% if is_granted('ROLE_ADMIN') %}
{% if member.status.isInactive == false and member.isDeceased == false %}
<a role="button" href="#modalEditLink" data-toggle="modal" class="btn btn-sm btn-secondary"><i class="fas fa-link"></i></a>
{% endif %}
<a role="button" href="{{ path('member_edit', {localIdentifier: member.localIdentifier}) }}" class="btn btn-sm btn-primary"><i class="fas fa-edit fa-fw"></i> Edit</a>
{% endif %}
{% endblock %}
{% endembed %}

{% include 'member/_badges.html.twig' %}

{% include 'member/_nav.html.twig' %}

<div class="card mb-3 shadow">
  <div class="card-body">
    <div class="row">
      <div class="col-lg-8">
        <div class="table-responsive">
          <table class="table table-borderless">
            <tbody>
              <tr>
                <th class="w-25">Status</th>
                <td>{{ member.status.label }}</td>
              </tr>
              <tr>
                <th>Full Name</th>
                <td>
                  {{ member.firstName }} {{ member.middleName }} {{ member.lastName }}
                </td>
              </tr>
              <tr>
                <th>Roll #</th>
                <td>{{ member.localIdentifierShort }}</td>
              </tr>
              <tr>
                <th>Join Date</th>
                <td>{{ member.joinDate ? member.joinDate|date('F j, Y') : '-' }}
              </tr>
              <tr>
                <th>Class Year</th>
                <td>{{ member.classYear|default('-') }}
              </tr>
              <tr>
                <th>E-mail</th>
                <td>
                  {% if member.primaryEmail %}
                  <a href="mailto:{{ member.primaryEmail }}">{{ member.primaryEmail }}</a>
                  {% endif %}
                </td>
              </tr>
              <tr>
                <th>Phone Number</th>
                <td>
                  {% if member.primaryTelephoneNumber %}
                  {{ member.primaryTelephoneNumber }}
                  {% endif %}
                </td>
              </tr>
              <tr>
                <th>Mailing Address</th>
                <td>
                  {% if member.mailingAddressLine1 %}
                  {{ member.mailingAddressLine1 }}<br />
                  {% if member.mailingAddressLine2 %}{{ member.mailingAddressLine2 }}<br />{% endif %}
                  {{ member.mailingCity }}, {{ member.mailingState }} {{ member.mailingPostalCode }}<br />
                  {{ member.mailingCountry }}
                  {% endif %}
                </td>
              </tr>
              {% if member.mailingLatitude and member.mailingLongitude %}
              <tr>
                <td colspan="2">
                  <div id="mapContainer" style="min-height:200px;" data-mailing_latitude="{{ member.mailingLatitude }}" data-mailing_longitude="{{ member.mailingLongitude }}" data-map_label="{{ member.displayName }} "></div>
                </td>
              </tr>
              {% endif %}
              <tr>
                <th>Employer</th>
                <td>{{ member.employer }}</td>
              </tr>
              <tr>
                <th>Job Title</th>
                <td>{{ member.jobTitle }}</td>
              </tr>
              <tr>
                <th>Occupation</th>
                <td>{{ member.occupation }}</td>
              </tr>
              {% if is_granted('ROLE_ADMIN') and member.directoryNotes %}
              <tr>
                <td colspan="2"><hr /></td>
              </tr>
              <tr>
                <th>Directory Notes</th>
                <td>
                  {{ member.directoryNotes|markdown_to_html }}
                </td>
              </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="text-center mb-5">
          <img src="{{ member.photoUrl }}" class="img-fluid img-thumbnail" />
        </div>
        <div class="text-center">
          <ul class="list-inline">
            {% if member.facebookIdentifier %}
            <li class="list-inline-item"><a href="https://facebook.com/{{ member.facebookIdentifier }}" target="_blank"><i class="fab fa-facebook fa-2x"></i></a></li>
            {% endif %}
            {% if member.linkedinUrl %}
            <li class="list-inline-item"><a href="{{ member.linkedinUrl }}" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a></li>
            {% endif %}
          </ul>
          <p class="text-muted"><small title="{{ member.updatedAt|date('c') }}"><i class="fas fa-clock"></i> Updated: {{ member.updatedAt|date('l, F j, Y') }}</small></p>
        </div>
      </div>
    </div>
  </div>
<div>

{% if is_granted('ROLE_ADMIN') %}
{% include 'directory/_modal_self_edit.html.twig' %}
{% endif %}

{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('member') }}
{% endblock %}
