{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ member.displayName }} {% endblock %}

{% block stylesheets -%}
{{ parent() }}
{{ encore_entry_link_tags('member') }}
{% endblock %}

{% block body %}
{% embed '_page_header.html.twig' %}
{% block page_header_title %}{{ member.displayName }}{% endblock %}
{% block page_header_buttons %}
{% if is_granted('ROLE_DIRECTORY_MANAGER') %}
{% if member.status.isInactive == false and member.isDeceased == false %}
<a role="button" href="#modalEditLink" data-bs-toggle="modal" class="btn btn-sm btn-secondary"><i class="fas fa-link"></i></a>
{% endif %}
<a role="button" href="{{ path('member_vcard', {localIdentifier: member.localIdentifier}) }}" class="btn btn-sm btn-secondary"><i class="fas fa-address-card fa-fw"></i> vCard</a></li>
<a role="button" href="{{ path('member_change_log', {localIdentifier: member.localIdentifier}) }}" class="btn btn-sm btn-secondary"><i class="fas fa-history fa-fw"></i> Changes</a></li>
<a role="button" href="{{ path('member_edit', {localIdentifier: member.localIdentifier}) }}" class="btn btn-sm btn-primary"><i class="fas fa-edit fa-fw"></i> Edit</a>
{% endif %}
{% endblock %}
{% endembed %}

{% include 'member/_badges.html.twig' %}

{% include 'member/_nav.html.twig' %}

<div class="card mb-3 shadow">
  <div class="card-body">
    <div class="row">
      <div class="col-lg-8">
            <dl class="row">
                <dt class="col-sm-3 mb-3">Status</dt>
                <dd class="col-sm-9 mb-3">{{ member.status.label }}</dd>
                <dt class="col-sm-3 mb-3">Full Name</dt>
                <dd class="col-sm-9 mb-3">
                  {{ member.prefix}} {{ member.firstName }} {{ member.middleName }} {{ member.lastName }}{% if member.suffix %}, {{ member.suffix }}{% endif %}
                </dd>
                <dt class="col-sm-3 mb-3">Roll #</dt>
                <dd class="col-sm-9 mb-3">{{ member.localIdentifier }}</dd>
                <dt class="col-sm-3 mb-3">Birth Date</dt>
                <dd class="col-sm-9 mb-3">{{ member.birthDate ? member.birthDate|date('F j, Y') : '-' }}
                <dt class="col-sm-3 mb-3">Join Date</dt>
                <dd class="col-sm-9 mb-3">{{ member.joinDate ? member.joinDate|date('F j, Y') : '-' }}
                <dt class="col-sm-3 mb-3">Class Year</dt>
                <dd class="col-sm-9 mb-3">{{ member.classYear|default('-') }}
                <dt class="col-sm-3 mb-3">Email</dt>
                <dd class="col-sm-9 mb-3">
                  {% if member.primaryEmail %}
                  <a href="mailto:{{ member.primaryEmail }}">{{ member.primaryEmail }}</a>
                  {% endif %}
                </dd>
                <dt class="col-sm-3 mb-3">Phone Number</dt>
                <dd class="col-sm-9 mb-3">{{ member.primaryTelephoneNumber }}</dd>
                <dt class="col-sm-3 mb-3">Mailing Address</dt>
                <dd class="col-sm-9 mb-3">
                  {% if member.mailingAddressLine1 %}
                  {{ member.mailingAddressLine1 }}<br />
                  {% if member.mailingAddressLine2 %}{{ member.mailingAddressLine2 }}<br />{% endif %}
                  {{ member.mailingCity }}, {{ member.mailingState }} {{ member.mailingPostalCode }}<br />
                  {{ member.mailingCountry }}
                  {% endif %}
                </dd>
              </dl>
              {% if member.mailingLatitude and member.mailingLongitude %}
              <div class="mb-3">
                <div id="mapContainer" style="max-height:30vh" data-mailing_latitude="{{ member.mailingLatitude }}" data-mailing_longitude="{{ member.mailingLongitude }}" data-map_label="{{ member.displayName }} "></div>
              </div>
              {% endif %}
              <dl class="row">
                <dt class="col-sm-3 mb-3">Employer</dt>
                <dd class="col-sm-9 mb-3">{{ member.employer }}</dd>

                <dt class="col-sm-3 mb-3">Job Title</dt>
                <dd class="col-sm-9 mb-3">{{ member.jobTitle }}</dd>

                <dt class="col-sm-3 mb-3">Occupation</dt>
                <dd class="col-sm-9 mb-3">{{ member.occupation }}</dd>
              </dl>
              {% if is_granted('ROLE_ADMIN') and member.directoryNotes %}
              <hr />
              <dl class="row">
                <dt class="col-sm-3 mb-3">Directory Notes</dt>
                <dd class="col-sm-9 mb-3">
                  {{ member.directoryNotes|e('html')|markdown_to_html }}
                </dd>
              </dl>
              {% endif %}
      </div>
      <div class="col-lg-4">
        <div class="text-center mb-5">
          {% if member.photoUrl %}
          <img src="{{ member.photoUrl(256) }}" class="img-fluid img-thumbnail" />
          {% else %}
          <img src="{{ gravatar(member.primaryEmail, 256) }}" class="img-fluid img-thumbnail" />
          {% endif %}
        </div>
        <div class="text-center">
          <ul class="list-inline">
            {% if member.facebookUrl %}
            <li class="list-inline-item"><a href="{{ member.facebookUrl }}" target="_blank"><i class="fab fa-facebook fa-2x"></i></a></li>
            {% endif %}
            {% if member.linkedinUrl %}
            <li class="list-inline-item"><a href="{{ member.linkedinUrl }}" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a></li>
            {% endif %}
          </ul>
          <p class="text-muted"><small title="{{ member.updatedAt|date('c') }}"><i class="fas fa-clock"></i> Updated: {{ member.updatedAt|date('F j, Y g:i a', app.user.timezone|default('UTC')) }}</small></p>
        </div>
      </div>
    </div>
  </div>
<div>

{% if is_granted('ROLE_DIRECTORY_MANAGER') %}
{% include 'directory/_modal_self_edit.html.twig' %}
{% endif %}

{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('member') }}
{% endblock %}
