{% extends 'base.html.twig' %}

{% import 'communication/_macros.html.twig' as macros %}

{% block title %}{{ parent() }} - Messenger - SMS{% endblock %}

{% block body %}
{% embed '_page_header.html.twig' %}
{% block page_header_title %}Send Bulk SMS{% endblock %}
{% endembed %}

{% include 'messenger/_nav.html.twig' %}

<div class="row">
  <div class="col-lg-7">
    <div id="sms_form" class="message_form">
      {{ form_start(formSMS) }}
      <div class="card mb-3 shadow">
        <div class="card-body">
          <dl class="row">
            <dt class="col-2">To</dt>
            <dd class="col-10">
              {{ form_row(formSMS.recipients) }}
            </dd>
            <dt class="col-2">From</dt>
            <dd class="col-10">{{ fromTelephoneNumber }}</dd>
          </dl>
          {{ form_row(formSMS.message_body) }}
          <p class="text-end small"><a href="#" data-bs-toggle="modal" data-bs-target="#personalizationTagsModal">Personalization Tags</a></p>
        </div>
      </div>
      <div class="text-end mb-3">
        {{ form_widget(formSMS.submit) }}
      </div>
      {{ form_rest(formSMS) }}
      {{ form_end(formSMS) }}
    </div>
  </div>
</div>

{% include 'directory/_personalization_tags_modal.html.twig' %}
{% endblock %}
