  <a class="nav-link {{ app.request.get('_route') == 'home' ? 'active' }}" href="{{ path('home') }}">Home</a>
  <a class="nav-link {{ app.request.get('_route') == 'alumni' ? 'active' }}" href="{{ path('alumni') }}"><i class="fas fa-user-graduate fa-fw text-muted"></i> Alumni</a>
  <a class="nav-link {{ app.request.get('_route') == 'undergraduates' ? 'active' }}" href="{{ path('undergraduates')}}"><i class="fas fa-user fa-fw text-muted"></i> Undergraduates</a>
  <span class="divider"><hr /></span>
  <a class="nav-link {{ app.request.get('_route') == 'map' ? 'active' }}" href="{{ path('map')}}"><i class="fas fa-map fa-fw text-muted"></i> Member Map</a>
