  <a class="nav-link {{ app.request.get('_route') == 'alumni' ? 'active' }}" href="{{ path('alumni') }}"><i class="fas fa-user-graduate fa-fw text-muted"></i> Alumni</a>
  <a class="ml-3 nav-link {{ app.request.get('_route') == 'lost' ? 'active' }}" href="{{ path('lost')}}"><i class="fas fa-frown fa-fw text-muted"></i> Lost Alumni</a>
  <a class="ml-3 nav-link {{ app.request.get('_route') == 'year' ? 'active' }}" href="{{ path('year')}}"><i class="fas fa-calendar fa-fw text-muted"></i> Class Year</a>
  <a class="nav-link {{ app.request.get('_route') == 'undergraduates' ? 'active' }}" href="{{ path('undergraduates')}}"><i class="fas fa-user fa-fw text-muted"></i> Undergraduates</a>
  <a class="nav-link {{ app.request.get('_route') == 'resigned_expelled' ? 'active' }}" href="{{ path('resigned_expelled')}}"><i class="fas fa-thumbs-down fa-fw text-muted"></i> Resigned/Expelled</a>
  <a class="nav-link {{ app.request.get('_route') == 'transferred' ? 'active' }}" href="{{ path('transferred')}}"><i class="fas fa-exchange-alt fa-fw text-muted"></i> Transferred</a>
  <a class="nav-link {{ app.request.get('_route') == 'other' ? 'active' }}" href="{{ path('other')}}"><i class="fas fa-user-friends fa-fw text-muted"></i> Other</a>
  <span class="divider"><hr /></span>
  <a class="nav-link {{ app.request.get('_route') == 'map' ? 'active' }}" href="{{ path('map')}}"><i class="fas fa-map fa-fw text-muted"></i> Member Map</a>
  <a class="nav-link {{ app.request.get('_route') == 'member_changes' ? 'active' }}" href="{{ path('member_changes')}}"><i class="fas fa-satellite-dish fa-fw text-muted"></i> Recent Changes</a>
  <span class="divider"><hr /></span>
  <a class="nav-link"><strong>Tags</strong></a>
  {% for _tag in get_tags() %}
  <a class="nav-link {{ app.request.get('_route') == 'tag' and tag is defined and tag.id == _tag.id ? 'active' }}" href="{{ path('tag', {tagId: _tag.id})}}"><i class="fas fa-tag fa-fw text-muted"></i> {{ _tag.tagName }}</a>
  {% endfor %}
