<tr class="{% if member.status.isInactive %}inactive{% endif %}">
  <td class="text-center" data-order="{{ member.localIdentifier }}">{{ member.localIdentifierShort }}</td>
  <td class="col-profile-img">
    <a href="{{ path('member_show', {localIdentifier: member.localIdentifier}) }}">
      <img src="{{ member.photoUrl ? member.photoUrl : gravatar(member.primaryEmail) }}" class="img-fluid img-profile-sm" alt="Profile Photo" />
    </a>
  </td>
  <td data-order="{{ member.lastName }} {{ member.firstName }}">
    <a href="{{ path('member_show', {localIdentifier: member.localIdentifier}) }}">{{ member.displayName }} </a>
    {% include 'member/_badges.html.twig' %}
  </td>
  {% if show_status is defined and show_status %}
  <td>
    {{ member.status.label }}
  </td>
  {% endif %}
  <td>
    {{ member.classYear|default('-') }}
  </td>
  <td>
    {% if member.primaryEmail %}
    <a href="mailto:{{ member.primaryEmail }}">{{ member.primaryEmail }}</a>
    {% endif %}
  </td>
  <td class="text-nowrap">
    <ul class="list-inline">
      {% if member.linkedinUrl %}
      <li class="list-inline-item m-0"><a href="{{ member.linkedinUrl }}" target="_blank"><i class="fab fa-linkedin fa-lg"></i></a></li>
      {% else %}
      <li class="list-inline-item m-0"><i class="fab fa-linkedin fa-lg" style="opacity:0.2"></i></li>
      {% endif %}
      {% if member.facebookUrl %}
      <li class="list-inline-item m-0"><a href="{{ member.facebookUrl }}" target="_blank"><i class="fab fa-facebook fa-lg"></i></a></li>
      {% else %}
      <li class="list-inline-item m-0"><i class="fab fa-facebook fa-lg" style="opacity:0.2"></i></li>
      {% endif %}
    </ul>
  </td>
  <td class="text-nowrap">
    {{ member.primaryTelephoneNumber }}
  </td>
  <td>
    {% if member.mailingAddressLine1 %}
    {{ member.mailingAddressLine1 }}<br />
    {% if member.mailingAddressLine2 %}{{ member.mailingAddressLine2 }}<br />{% endif %}
    {{ member.mailingCity }}, {{ member.mailingState }} {{ member.mailingPostalCode }}<br />
    {%- if member.mailingCountry != 'United States' and member.mailingCountry != 'US' %}
    {{ member.mailingCountry }}
    {% endif %}
    {% endif %}
  </td>
</tr>
