{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Birthdays{% endblock %}

{% block body %}
{% embed '_page_header.html.twig' %}
{% block page_header_title %}Birthdays{% endblock %}
{% endembed %}

{% set months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'] %}
{% for month in range(1, 12) %}
{% if birthdayMap[month] is defined %}
<div class="card shadow mb-3">
  <div class="card-header h3">{{ months[month-1] }}
  </div>
  <div class="card-body">
    <table class="table table-sm birthdayTable">
      <thead>
        <tr>
          <th style="width:50px;">Day</th>
          <th>Roll #</th>
          <th>Name</th>
          <th>Class Year</th>
          <th>Birth Date</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
      {% for day in birthdayMap[month] %}
      {% for member in day %}
      <tr>
        <td>{{ member.birthDate|date('j') }}</td>
        <td>{{ member.localIdentifier }}</td>
        <td data-order="{{ member }}"><a href="{{ path('member_show', {localIdentifier: member.localIdentifier }) }}">{{ member.displayName }}</a></td>
        <td>{{ member.classYear }}</td>
        <td data-order="{{ member.birthDate|date('Y-m-d') }}">{{ member.birthDate|date('n/j/Y') }}</td>
        <td>{{ member.status }}</td>
      </tr>
      {% endfor %}
      {% endfor %}
    </table>
  </div>
</div>
{% endif %}
{% endfor %}

{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('directory') }}
{% endblock %}
