{% extends 'base.html.twig' %}

{% block title %}{{ config.app_name }} - {{ record.displayName }}  - Change Log{% endblock %}

{% block body %}

<div>
  <div class="h4">{{ record.displayName }} </div>

  {% include 'directory/partials/directory_member_badges.html.twig' %}

  {% include 'directory/partials/directory_member_navigation.html.twig' %}

  <div>
    {% for logEntry in logEntries %}
    <div class="card mb-2">
      <div class="card-header">
        <span class="badge badge-secondary">{{ logEntry.action|upper }}</span> {{ logEntry.loggedAt|date('F j, Y g:i a') }} {{ logEntry.username }}
      </div>
      <div class="card-body">
        <table class="table table-sm">
          <thead>
            <tr>
              <th>Field</th>
              <th>Data</th>
            </tr>
          </thead>
          <tbody>
            {% for field, value in logEntry.data %}
            <tr>
              <td class="w-25">{{ field }}</td>
              {% if value.timestamp is defined %}
              <td><tt>{{ value|date('c') }}</tt></td>
              {% elseif value is iterable %}
              <td><tt>{{ dump(value) }}</tt></td>
              {% else %}
              <td>{{ value }}</td>
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    {% endfor %}
  </div>
<div>
{% endblock %}
