{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ member.displayName }} - Change Log{% endblock %}

{% block body %}
{% embed '_page_header.html.twig' %}
{% block page_header_title %}{{ member.displayName }}{% endblock %}
{% endembed %}

{% include 'member/_badges.html.twig' %}

{% include 'member/_nav.html.twig' %}

<div class="row">
  <div class="col-lg-8">
    {% if communicationLogs %}
    <div class="card shadow mb-3">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-striped mb-0">
            <thead>
              <tr>
                <th>Logged</th>
                <th>Type</th>
                <th>Entry</th>
                <th>User</th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              {% for log in communicationLogs %}
              {% include 'communication/_row.html.twig' %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    {% else %}
    {% include '_no_records_card.html.twig' with {message: 'No Communications matched your criteria.'} %}
    {% endif %}
  </div>
  <div class="col-lg-4">
    {{ form_start(form) }}
    <div class="card shadow mb-3">
      <div class="card-header">
        Log New Communication
      </div>
      <div class="card-body">
        {{ form_row(form.loggedAt, {label: 'Logged At'}) }}
        {{ form_row(form.type) }}
        {{ form_row(form.summary, {attr: {rows: 10}}) }}
        {{ form_rest(form) }}
      </div>
      <div class="card-footer text-right">
        <button class="btn btn-primary">Create Log Entry</button>
      </div>
    </div>
    {{ form_end(form) }}
  </div>
</div>

{% endblock %}
