{% extends 'base.html.twig' %}

{% block title %}{{ config.app_name }} - {{ view_name }}{% endblock %}

{% block body %}

<div>
  <div class="h4">{{ view_name }}</div>
  <div class="table-responsive">
    <table class="table table-sm" id="memberTable">
      <thead>
        <tr>
          <th class="text-center">Roll #</th>
          <th></th>
          <th>Name</th>
          {% if show_status %}
          <th>Status</th>
          {% endif %}
          <th>Class</th>
          <th>Email</th>
          <th>Phone Number</th>
          <th>Mailing Address</th>
        </tr>
      </thead>
      <tbody>
        {% for record in records %}
        {% include 'directory/partials/directory_row.html.twig' %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('directory') }}
{% endblock %}
