{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ view_name }}{% endblock %}

{% block body %}
{% embed '_page_header.html.twig' %}
{% block page_header_title %}{{ view_name }}{% endblock %}
{% block page_header_buttons %}
{% if is_granted('ROLE_ADMIN') %}
<a role="button" href="{{ path('member_new') }}" class="btn btn-sm btn-primary"><i class="fas fa-plus fa-fw"></i> New Member</a>
{% endif %}
{% endblock %}
{% endembed %}

<div class="card shadow">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-sm" id="memberTable">
      {% for group, members in group %}
        <thead>
          <tr>
            <th class="h5" colspan="99">{{ group|default('Not Set') }}</th>
          </tr>
          <tr>
            <th class="text-center">Roll #</th>
            <th data-sortable="false" data-searchable="false"></th>
            <th>Name</th>
            {% if show_status %}
            <th>Status</th>
            {% endif %}
            <th>Class</th>
            <th>E-mail</th>
            <th data-sortable="false" data-searchable="false">Social</th>
            <th>Phone Number</th>
            <th>Mailing Address</th>
          </tr>
        </thead>
        <tbody>
          {% for member in members %}
          {% include 'directory/_row.html.twig' %}
          {% endfor %}
        </tbody>
      {% endfor %}
      </table>
    </div>
  </div>
</div>

{% endblock %}

{% block javascripts %}
{{ parent() }}
{% endblock %}
