{% extends 'base.html.twig' %}

{% block title %}{{ config.app_name }} - {{ record.displayName }} - Donations{% endblock %}

{% block body %}

<div>
  <div class="h4">{{ record.displayName }} </div>

  {% include 'directory/partials/directory_member_badges.html.twig' %}

  {% include 'directory/partials/directory_member_navigation.html.twig' %}

  {% if donations %}
  <table class="table table-borderless">
    <tr>
      <th class="w-25">Amount</th>
      <th class="w-25">Processing Fees</th>
      <th class="w-25">Net Amount</th>
      <th class="w-25"></th>
    </tr>
    <tr>
      <td class="h4">{{ totals[0].totalAmount|format_currency('USD') }}</td>
      <td class="h4">{{ totals[0].totalProcessingFee|format_currency('USD') }}</td>
      <td class="h4">{{ totals[0].totalNetAmount|format_currency('USD') }}</td>
      <td class="h4"></td>
    </tr>
  </table>

  <table class="table table-striped" id="donationsTable">
    <thead>
      <tr>
        <th>Date</th>
        <th>Campaign</th>
        <th>Description</th>
        <th>Amount</th>
        <th>Fees</th>
        <th>Net Amount</th>
        <th>Recurring?</th>
      </tr>
    </thead>
    <tbody>
      {% for donation in donations %}
      {% include 'donations/partials/donation_row.html.twig' with { hideDonor: true } %}
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p class="alert alert-info">No donations matched your criteria.</p>
  {% endif %}

<div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('donations') }}
{% endblock %}
