{% extends 'base.html.twig' %}

{% block title %}{{ config.app_name }} - {{ record.displayName }}  - Email Subscription{% endblock %}

{% block body %}

<div>
  <div class="h4">{{ record.displayName }} </div>

  {% include 'directory/partials/directory_member_badges.html.twig' %}

  {% include 'directory/partials/directory_member_navigation.html.twig' %}

  <div class="row">
    <div class="col-lg-6">
      <div class="card mb-2">
        <div class="card-header">
          Subscription
        </div>
        <div class="card-body">
          {% if subscriber.Code is defined %}
          <div class="alert alert-danger">{{ subscriber.Message }}</div>
          {% elseif subscriber is empty %}
          <div class="alert alert-danger">No data available.</div>
          {% else %}
          <table class="table">
            <tbody>
              <tr>
                <th>Name</th>
                <td>{{ subscriber.Name }}</td>
              </tr>
              <tr>
                <th>Email</th>
                <td>{{ subscriber.EmailAddress }}</td>
              </tr>
              <tr>
                <th>Date</th>
                <td>{{ subscriber.Date|date('c') }}</td>
              </tr>
              <tr>
                <th>Status</th>
                <td>{{ subscriber.State }}</td>
              </tr>
              {% if is_granted('ROLE_ADMIN') %}
              {% for field in subscriber.CustomFields %}
              <tr class="table-secondary">
                <th>{{ field.Key }}</th>
                <td>{{ field.Value }}</td>
              </tr>
              {% endfor %}
              {% endif %}
            </tbody>
          </table>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card mb-2">
        <div class="card-header">
          Subscription History
        </div>
        <div class="card-body">
          {% if subscriberHistory.Code is defined %}
          <div class="alert alert-danger">{{ subscriberHistory.Message }}</div>
          {% elseif subscriberHistory is empty %}
          <div class="alert alert-danger">No activity for this subscriber.</div>
          {% else %}
          {% for item in subscriberHistory %}
          <table class="table mb-2">
            <tbody>
              <tr>
                <th class="w-25">Type</th>
                <td>{{ item.Type }}</td>
              </tr>
              <tr>
                <th>Name</th>
                <td>{{ item.Name }}</td>
              </tr>
              <tr>
                <th>Actions</th>
                <td>
                  <a href="#campaign-actions-{{ item.ID }}" data-toggle="collapse">{{ item.Actions|length }}</a>
                  <div class="collapse" id="campaign-actions-{{ item.ID }}">
                  {% for itemAction in item.Actions %}
                    <table class="table table-sm table-borderless table-striped">
                      <tbody>
                        <tr>
                          <th class="w-25">Event</th>
                          <td>{{ itemAction.Event }}</td>
                        </tr>
                        <tr>
                          <th>Date</th>
                          <td>{{ itemAction.Date|date('c') }}</td>
                        </tr>
                        <tr>
                          <th>IP Address</th>
                          <td>{{ itemAction.IPAddress }}</td>
                        </tr>
                        <tr>
                          <th>Detail</th>
                          <td>{{ itemAction.Detail }}</td>
                        </tr>
                      </tbody>
                    </table>
                  {% endfor %}
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% if is_granted('ROLE_ADMIN') %}
  <div class="my-3 text-center">
    {% if subscriber.State is not defined or subscriber.State != 'Active' %}
    <a href="{{ path('member_email_subscribe', {localIdentifier: record.localIdentifier} ) }}" class="btn btn-primary">Add Member to List</a>
    {% endif %}
    {% if subscriber.State is defined %}
    <a href="{{ path('member_email_update', {localIdentifier: record.localIdentifier} ) }}" class="btn btn-primary">Update Member Subscription Details</a>
    {% if subscriber.State != 'Unsubscribed' %}
    <a href="{{ path('member_email_remove', {localIdentifier: record.localIdentifier} ) }}" class="btn btn-danger">Unsubscribe Member</a>
    {% endif %}
    {% endif %}
  </div>
  {% endif %}
<div>
{% endblock %}
