{% extends 'base.html.twig' %}

{% block title %}{{ config.app_name }} - Export{% endblock %}

{% block stylesheets -%}
{{ parent() }}
{{ encore_entry_link_tags('map') }}
{% endblock %}

{% block body %}
<div class="row">
  <div class="col-lg-12">
    <div class="h4">Export</div>
    <div class="alert alert-info">
      <strong>Remember!</strong> The contact information for our members provided by this system is considered confidential.
    </div>
    {{ form(form) }}
  </div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% endblock %}
