{% form_theme form with ['bootstrap_4_horizontal_layout.html.twig'] %}
{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Map{% endblock %}

{% block stylesheets -%}
{{ parent() }}
{{ encore_entry_link_tags('map') }}
{% endblock %}

{% block body %}
{% embed '_page_header.html.twig' %}
{% block page_header_title %}Member Map{% endblock %}
{% block page_header_buttons %}
<div class="d-flex">
  {{ form_start(form) }}
  {{ form_widget(form.status) }}
  {{ form_end(form) }}
  <button class="btn btn-secondary btn-sm me-1" data-bs-toggle="modal" data-bs-target="#searchFormModal"><i class="fas fa-cog"></i></button>
  <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#searchResultsModal">Search Results <span class="badge bg-light text-bg-light" id="searchResultCount">0</span></button>
</div>
{% endblock %}
{% endembed %}

<div class="row">
  <div class="col-lg-12" id="mapElements">
    <div id="mapContainerLoading">
      <div><i class="fas fa-spinner fa-fw fa-spin"></i> Loading ...</div>
    </div>
    <div id="mapContainer"></div>
  </div>
</div>

<div id="searchFormModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Search Options</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="search-radius-form">
          <div class="form-group">
            <label>Search Radius (in miles)</label>
            <input type="number" value="25" class="form-control" id="search-radius" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div id="searchResultsModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Search Results</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="searchNoResultsFound" class="alert alert-info">
          No results found.
        </div>
        <div id="searchResults"></div>
      </div>
      <div id="searchResultsExport" class="modal-footer">
        <a id="mapExportButton" href="{{ path('export_by_location') }}" class="btn btn-sm btn-primary"><i class="fas fa-download fa-fw"></i> Export List</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('map') }}
{% endblock %}
