{% extends 'base.html.twig' %}

{% block title %}{{ config.app_name }} - Member Map{% endblock %}

{% block stylesheets -%}
{{ parent() }}
{{ encore_entry_link_tags('map') }}
{% endblock %}

{% block body %}
<div class="row">
  <div class="col-lg-3">
    <div class="h4">Member Map</div>
    <form>
      <div class="form-group">
        <label >Search Radius (in miles)</label>
        <input type="number" value="25" class="form-control" id="search-radius" />
      </div>
    </form>
    <div id="searchResults" style="height: 75vh; overflow-y:auto;"></div>
  </div>
  <div class="col-lg-9">
    <div id="mapContainer" style="height: 85vh" class="mb-2"></div>
  </div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('map') }}
{% endblock %}
