{% extends 'base.html.twig' %}

{% block title %}{{ config.app_name }} - {{ record.displayName }} {% endblock %}

{% block stylesheets -%}
{{ parent() }}
{{ encore_entry_link_tags('member') }}
{% endblock %}

{% block body %}
<div>
  <div class="float-right">
    {% if is_granted('ROLE_ADMIN') %}
    {% if record.status.code not in ['RESIGNED', 'EXPELLED'] and record.isDeceased == false %}
    <a href="#modalEditLink" data-toggle="modal" class="btn btn-sm btn-secondary"><i class="fas fa-link"></i></a>
    {% endif %}
    <a href="{{ path('admin_app_member_edit', {id: record.id}) }}" class="btn btn-sm btn-primary"><i class="fas fa-pencil-alt"></i> Edit</a>
    {% endif %}
  </div>

  <div class="h4">{{ record.displayName }}</div>

  {% include 'directory/partials/directory_member_badges.html.twig' %}

  {% include 'directory/partials/directory_member_navigation.html.twig' %}

  <div class="row">
    <div class="col-lg-8">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <th class="w-25">Status</th>
            <td>{{ record.status.label }}</td>
          </tr>
          <tr>
            <th>Full Name</th>
            <td>
              {{ record.firstName }} {{ record.middleName }} {{ record.lastName }}
            </td>
          </tr>
          <tr>
            <th>Roll #</th>
            <td>{{ record.localIdentifierShort }}</td>
          </tr>
          <tr>
            <th>Join Date</th>
            <td>{{ record.joinDate ? record.joinDate|date('F j, Y') : '-' }}
          </tr>
          <tr>
            <th>Class Year</th>
            <td>{{ record.classYear|default('-') }}
          </tr>
          <tr>
            <th>Email</th>
            <td>
              {% if record.primaryEmail %}
              <a href="mailto:{{ record.primaryEmail }}">{{ record.primaryEmail }}</a>
              {% endif %}
            </td>
          </tr>
          <tr>
            <th>Phone Number</th>
            <td>
              {% if record.primaryTelephoneNumber %}
              {{ record.primaryTelephoneNumber }}
              {% endif %}
            </td>
          </tr>
          <tr>
            <th>Mailing Address</th>
            <td>
              {% if record.mailingAddressLine1 %}
              {{ record.mailingAddressLine1 }}<br />
              {% if record.mailingAddressLine2 %}{{ record.mailingAddressLine2 }}<br />{% endif %}
              {{ record.mailingCity }} {{ record.mailingState }}, {{ record.mailingPostalCode }}<br />
              {{ record.mailingCountry }}
              {% endif %}
            </td>
          </tr>
          {% if record.mailingLatitude and record.mailingLongitude %}
          <tr>
            <td colspan="2">
              <div id="mapContainer" style="min-height:200px;" data-mailing_latitude="{{ record.mailingLatitude }}" data-mailing_longitude="{{ record.mailingLongitude }}" data-map_label="{{ record.displayName }} "></div>
            </td>
          </tr>
          {% endif %}
          <tr>
            <th>Employer</th>
            <td>{{ record.employer }}</td>
          </tr>
          <tr>
            <th>Job Title</th>
            <td>{{ record.jobTitle }}</td>
          </tr>
          <tr>
            <th>Occupation</th>
            <td>{{ record.occupation }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg-4">
      <div class="text-center mb-5">
        <img src="{{ record.photoUrl }}" class="img-fluid img-thumbnail" />
      </div>
      <div class="text-center">
        {% if record.facebookIdentifier %}
        <a href="https://facebook.com/{{ record.facebookIdentifier }}"><i class="fab fa-facebook fa-2x"></i></a>
        {% endif %}
      </div>
    </div>
  </div>
<div>
{% if is_granted('ROLE_ADMIN') %}
{% include 'directory/partials/modal_self_edit.html.twig' %}
{% endif %}

{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('member') }}
{% endblock %}
