{% extends 'base.html.twig' %}

{% block title %}{{ config.app_name }} - New Member {% endblock %}

{% block stylesheets -%}
{{ parent() }}
{{ encore_entry_link_tags('member') }}
{% endblock %}

{% block body %}
<div>
  <div class="h4">New Member</div>

  {{ form_start(form) }}
  {% include 'directory/partials/directory_member_form.html.twig' %}
  <div class="text-right">
    {{ form_row(form.submit, {label: 'Create Member'}) }}
  </div>
  {{ form_rest(form) }}
  {{ form_end(form) }}
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('member') }}
{% endblock %}
