{% extends 'base.html.twig' %}

{% block title %}{{ config.app_name }} - {{ record.displayName }} {% endblock %}

{% block stylesheets -%}
{{ parent() }}
{{ encore_entry_link_tags('member') }}
{% endblock %}

{% block body %}
<div>
  <div class="h4">{{ record.displayName }}</div>

  {% include 'directory/partials/directory_member_badges.html.twig' %}

  {% include 'directory/partials/directory_member_navigation.html.twig' %}

  {{ form_start(form) }}
  {% include 'directory/partials/directory_member_form.html.twig' %}
  <div class="row">
    <div class="col">
      <a href="{{ path('member_delete', {localIdentifier: record.localIdentifier}) }}" class="btn btn-link text-danger">Delete Member</a>
    </div>
    <div class="col text-right">
      {{ form_widget(form.submit, {label: 'Update Member'}) }}
    </div>
  </div>
  {{ form_rest(form) }}
  {{ form_end(form) }}
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('member') }}
{% endblock %}
