{% extends 'base.html.twig' %}

{% block title %}Directory{% endblock %}

{% block body %}

<div class="container">
  {% include 'directory/partials/directory_navigation.html.twig' %}

  <h1>{{ record.preferredName }} {{ record.lastName }}</h1>

  {% if record.isDeceased %}
  <sup class="badge badge-dark" title="Deceased">Deceased</sup>
  {% endif %}
  {% if record.status.code == 'RENAISSANCE' %}
  <sup class="badge badge-secondary" title="Renaissance">Renaissance</sup>
  {% endif %}

  {% include 'directory/partials/directory_member_navigation.html.twig' %}

  <div class="row">
    <div class="col-lg-8">
      <table class="table">
        <tbody>
          <tr>
            <th>Status</th>
            <td>{{ record.status.label }}</td>
          </tr>
          <tr>
            <th>Full Name</th>
            <td>
              {{ record.firstName }} {{ record.middleName }} {{ record.lastName }}
            </td>
          </tr>
          <tr>
            <th>Chapter Number</th>
            <td>{{ record.localIdentifier|replace({'337-': ''})|number_format }}</td>
          </tr>
          <tr>
            <th>Join Date</th>
            <td>{{ record.joinDate|date('F j, Y')|default('-') }}
          </tr>
          <tr>
            <th>Class Year</th>
            <td>{{ record.classYear|default('-') }}
          </tr>
          <tr>
            <th>Email</th>
            <td>
              {% if record.primaryEmail %}
              <a href="mailto:{{ record.primaryEmail }}">{{ record.primaryEmail }}</a>
              {% endif %}
            </td>
          </tr>
          <tr>
            <th>Phone Number</th>
            <td>
              {% if record.primaryTelephoneNumber %}
              {{ record.primaryTelephoneNumber }}
              {% endif %}
            </td>
          </tr>
          <tr>
            <th>Address</th>
            <td>
              {% if record.mailingAddressLine1 %}
              {{ record.mailingAddressLine1 }}<br />
              {% if record.mailingAddressLine2 %}{{ record.mailingAddressLine2 }}<br />{% endif %}
              {{ record.mailingCity }} {{ record.mailingState }}, {{ record.mailingPostalCode }}<br />
              {{ record.mailingCountry }}
              {% endif %}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg-4">
      <img src="{{ record.photoUrl }}" class="img-fluid" />
    </div>
  </div>
<div>
{% endblock %}
