{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ member.displayName }} - Message{% endblock %}

{% block body %}
{% embed '_page_header.html.twig' %}
{% block page_header_title %}{{ member.displayName }}{% endblock %}
{% endembed %}

{% include 'member/_badges.html.twig' %}

{% include 'member/_nav.html.twig' %}

{{ form_start(form) }}
<div class="card mb-3 shadow">
  <div class="card-body">
    <div class="row">
      <div class="col-lg-7">
        {{ form_row(form.subject) }}
        {{ form_row(form.message_body) }}
        {{ form_row(form.reply_to) }}
        {{ form_row(form.send_copy) }}
      </div>
      <div class="col-lg-5">
        <h5>Personalization Tags</h5>
        <table class="table table-sm">
          <tr>
            <th class="text-nowrap"><code>[FirstName]</code></th>
            <td>{{ member.firstName }}</td>
          </tr>
          <tr>
            <th class="text-nowrap"><code>[PreferredName]</code></th>
            <td>{{ member.preferredName }}</td>
          </tr>
          <tr>
            <th class="text-nowrap"><code>[LastName]</code></th>
            <td>{{ member.lastName }}</td>
          </tr>
          <tr>
            <th class="text-nowrap"><code>[MailingAddressLine1]</code></th>
            <td>{{ member.mailingAddressLine1 }}</td>
          </tr>
          <tr>
            <th class="text-nowrap"><code>[MailingAddressLine2]</code></th>
            <td>{{ member.mailingAddressLine2 }}</td>
          </tr>
          <tr>
            <th class="text-nowrap"><code>[MailingCity]</code></th>
            <td>{{ member.mailingCity }}</td>
          </tr>
          <tr>
            <th class="text-nowrap"><code>[MailingState]</code></th>
            <td>{{ member.mailingState }}</td>
          </tr>
          <tr>
            <th class="text-nowrap"><code>[MailingPostalCode]</code></th>
            <td>{{ member.mailingPostalCode }}</td>
          </tr>
          <tr>
            <th class="text-nowrap"><code>[PrimaryEmail]</code></th>
            <td>{{ member.primaryEmail }}</td>
          </tr>
          <tr>
            <th class="text-nowrap"><code>[PrimaryTelephoneNumber]</code></th>
            <td>{{ member.primaryTelephoneNumber }}</td>
          </tr>
        </table>  
      </div>
    </div>
  </div>
</div>
<div class="text-right mb-3">
  {{ form_widget(form.submit) }}
</div>
{{ form_rest(form) }}
{{ form_end(form) }}
{% endblock %}
