{% extends 'base.html.twig' %}

{% import 'communication/_macros.html.twig' as macros %}

{% block title %}{{ parent() }} - {{ member.displayName }} - Send Message{% endblock %}

{% block body %}
{% embed '_page_header.html.twig' %}
{% block page_header_title %}{{ member.displayName }}{% endblock %}
{% endembed %}

{% include 'member/_badges.html.twig' %}

{% include 'member/_nav.html.twig' %}

{% if member.primaryEmail or member.primaryTelephoneNumber %}
<div class="row">
  <div class="col-lg-7">

    <ul class="nav nav-pills mb-3">
      <li class="nav-item mr-2">
        <a class="nav-link form_button {% if not member.primaryEmail %}disabled{% endif %}" href="#email_form"><i class="fas fa-at fa-fw"></i> Send Email</a>
      </li>
      {% if is_sms_service_configured() %}
      <li class="nav-item">
        <a class="nav-link form_button {% if not member.primaryTelephoneNumber %}disabled{% endif %}" href="#sms_form"><i class="fas fa-sms fa-fw"></i> Send SMS</a>
      </li>
      {% endif %}
    </ul>

    {% if member.primaryEmail %}
    <div id="email_form" class="message_form">
      {{ form_start(formEmail) }}
      <div class="card mb-3 shadow">
        <div class="card-body">
          <dl class="row">
            <dt class="col-2">To</dt>
            <dd class="col-10">{{ member.primaryEmail }}</dd>
            <dt class="col-2">From</dt>
            <dd class="col-10">{{ fromEmailAddress }}</dd>
          </dl>
          {{ form_row(formEmail.subject) }}
          {{ form_row(formEmail.message_body) }}
          <p class="text-right small"><a href="#" data-toggle="modal" data-target="#personalizationTagsModal">Personalization Tags</a></p>
          {{ form_row(formEmail.reply_to) }}
          {{ form_row(formEmail.send_copy) }}
        </div>
      </div>
      <div class="text-right mb-3">
        {{ form_widget(formEmail.submit) }}
      </div>
      {{ form_rest(formEmail) }}
      {{ form_end(formEmail) }}
    </div>
    {% endif %}

    {% if is_sms_service_configured() and member.primaryTelephoneNumber %}
    <div id="sms_form" class="message_form">
      {{ form_start(formSMS) }}
      <div class="card mb-3 shadow">
        <div class="card-body">
          <dl class="row">
            <dt class="col-2">To</dt>
            <dd class="col-10">{{ member.primaryTelephoneNumber }}</dd>
            <dt class="col-2">From</dt>
            <dd class="col-10">{{ fromTelephoneNumber }}</dd>
          </dl>
          {{ form_row(formSMS.message_body) }}
          <p class="text-right small"><a href="#" data-toggle="modal" data-target="#personalizationTagsModal">Personalization Tags</a></p>
        </div>
      </div>
      <div class="text-right mb-3">
        {{ form_widget(formSMS.submit) }}
      </div>
      {{ form_rest(formSMS) }}
      {{ form_end(formSMS) }}
    </div>
    {% endif %}
  </div>
  {% if is_granted('ROLE_COMMUNICATIONS_MANAGER') %}
  <div class="col-lg-5">
    <h4>Recent Communications</h4>
    {% if recentCommunications %}
    <div class="card shadow">
      <div class="overflow-auto" style="max-height:70vh">
        {% for log in recentCommunications %}
        <div class="card-header small">
          <div class="row mb-0">
            <div class="col-sm-1">
              {{ macros.typeIcon(log) }}
            </div>
            <div class="col-sm-11 text-sm-right">
              {{ log.loggedAt ? log.loggedAt|date('n/j/Y g:i a', app.user.timezone|default('UTC')) : '' }} - {{ log.user|default('System') }}
              <a href="{{ path('communication_edit', {id: log.id }) }}"><i class="fas fa-edit"></i></a>
            </div>
          </div>
        </div>
        <div class="card-body mb-5">
          {{ log.summary|markdown_to_html }}
        </div>
        {% endfor %}
      </div>
    </div>
    {% else %}
    {% include '_no_records_card.html.twig' with {message: 'No recent Communications for this member.', size: 'sm'} %}
    {% endif %}
  </div>
  {% endif %}
</div>
{% else %}
{% include '_no_records_card.html.twig' with {message: 'Member must have either an Email or Telephone number to receive messages.'} %}
{% endif %}


<div class="modal fade" id="personalizationTagsModal" tabindex="-1" role="dialog" aria-labelledby="personalizationTagsModalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="personalizationTagsModalTitle">Personalization Tags</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% include 'directory/_personalization_tags.html.twig' %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
$(document).ready(function () {
  $('.message_form').hide();
  $('.message_form').first().show();
  $('.form_button').first().addClass('active');
  $('.form_button').on('click', function (element) {
    $('.form_button').removeClass('active');
    $(element.target).addClass('active');
    $('.message_form').hide();
    var selector = $(element.target).attr('href');
    $(selector).show();
  })
})
</script>
{% endblock %}
