{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Recent Changes{% endblock %}

{% block body %}
{% embed '_page_header.html.twig' %}
{% block page_header_title %}Recent Changes{% endblock %}
{% endembed %}

{{ form(form, {attr: {id: 'filter-form', class: 'form-inline mb-2'}}) }}

<div class="card shadow">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-sm" id="memberTable">
        <thead>
          <tr>
            <th>Updated</th>
            <th class="text-center">Roll #</th>
            <th></th>
            <th>Name</th>
            <th>Status</th>
            <th>Contact</th>
          </tr>
        </thead>
        <tbody>
          {% for member in members %}
          <tr>
            <td class="text-muted small" nowrap>
              {{ member.updatedAt|date('n/j/Y h:i a') }}
            </td>
            <td class="text-center">{{ member.localIdentifierShort }}</td>
            <td width="32">
              <a href="{{ path('member_show', {localIdentifier: member.localIdentifier}) }}"><img src="{{ member.photoUrl }}" class="img-fluid" style="max-width:32px;" /></a>
            </td>
            <td>
              <a href="{{ path('member_show', {localIdentifier: member.localIdentifier}) }}">{{ member.displayName }} </a>
              {% include 'member/_badges.html.twig' %}
            </td>
            <td>{{ member.status.label }}</td>
            <td>
              <ul class="list-inline">
                <li>
                  {% if member.primaryEmail %}
                  <a href="mailto:{{ member.primaryEmail }}">{{ member.primaryEmail }}</a>
                  {% endif %}
                </li>
                <li>{{ member.primaryTelephoneNumber }}</li>
                <li>
                  {% if member.mailingAddressLine1 %}
                  {{ member.mailingAddressLine1 }}<br />
                  {% if member.mailingAddressLine2 %}{{ member.mailingAddressLine2 }}<br />{% endif %}
                  {{ member.mailingCity }}, {{ member.mailingState }} {{ member.mailingPostalCode }}<br />
                  {%- if member.mailingCountry != 'United States' and member.mailingCountry != 'US' %}
                  {{ member.mailingCountry }}
                  {% endif %}
                  {% endif %}
                </li>
              </ul>
            </td>
          </tr>
          {% else %}
          <tr>
            <td colspan="99"><div class="alert alert-info">No records matched your criteria.</div></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
$('#filter-form :input').on('change', function () {
  $('#filter-form').submit()
})
</script>
{% endblock %}
