{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Recent Changes{% endblock %}

{% block body %}
{% embed '_page_header.html.twig' %}
{% block page_header_title %}Recent Changes{% endblock %}
{% block page_header_buttons %}
{{ form_start(form, {attr: {id: 'filter-form', class: 'form-inline'}}) }}
<div class="d-flex d-wrap align-items-center">
  <div class="me-2">
    {{ form_widget(form.since) }}
  </div>
  <div class="">
    {{ form_row(form.exclude_inactive) }}
  </div>
</div>
{{ form_rest(form)}}
{{ form_end(form) }}
{% endblock %}
{% endembed %}

{% if members %}
<div class="card shadow">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-sm" id="memberTable">
        <thead>
          <tr>
            <th>Updated</th>
            <th class="text-center">Roll #</th>
            <th></th>
            <th>Name</th>
            <th>Status</th>
            <th>Contact</th>
          </tr>
        </thead>
        <tbody>
          {% for member in members %}
          <tr>
            <td class="text-muted small" nowrap>
              {{ member.updatedAt|date('n/j/Y g:i a', app.user.timezone|default('UTC')) }}
            </td>
            <td class="text-center">{{ member.localIdentifier }}</td>
            <td width="32">
              <a href="{{ path('member_show', {localIdentifier: member.localIdentifier}) }}">
                <img src="{{ member.photoUrl ? member.photoUrl : gravatar(member.primaryEmail) }}" class="img-fluid" alt="Profile Photo" />
              </a>
            </td>
            <td>
              <a href="{{ path('member_show', {localIdentifier: member.localIdentifier}) }}">{{ member.displayName }} </a>
              {% include 'member/_badges.html.twig' %}
            </td>
            <td>{{ member.status.label }}</td>
            <td>
              <ul class="list-inline">
                <li>
                  {% if member.primaryEmail %}
                  <a href="mailto:{{ member.primaryEmail }}">{{ member.primaryEmail }}</a>
                  {% endif %}
                </li>
                <li>{{ member.primaryTelephoneNumber }}</li>
                <li>
                  {% if member.mailingAddressLine1 %}
                  {{ member.mailingAddressLine1 }}<br />
                  {% if member.mailingAddressLine2 %}{{ member.mailingAddressLine2 }}<br />{% endif %}
                  {{ member.mailingCity }}, {{ member.mailingState }} {{ member.mailingPostalCode }}<br />
                  {%- if member.mailingCountry != 'United States' and member.mailingCountry != 'US' %}
                  {{ member.mailingCountry }}
                  {% endif %}
                  {% endif %}
                </li>
              </ul>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% else %}
{% include '_no_records_card.html.twig' with {message: 'No Recent Changes matched your criteria.'} %}
{% endif %}
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
$('#filter-form :input').on('change', function () {
  $('#filter-form').submit()
})
</script>
{% endblock %}
