{% import 'communication/_macros.html.twig' as macros %}
<tr>
  <td data-order="{{ log.loggedAt|date('c') }}"><a href="{{ path('communication_show', {id: log.id}) }}">{{ log.loggedAt|date('n/j/Y g:i a', app.user.timezone|default('UTC')) }}</a></td>
  {% if showUser is defined %}
  <td><a href="{{ path('member_show', {localIdentifier: log.member.localIdentifier}) }}">{{ log.member.displayName }}</a></td>
  {% endif %}
  <td data-order="{{ log.type }}">
    {{ macros.typeIcon(log) }}
  </td>
  <td>{{ log.summary|u.truncate(200, '...', false)|markdown_to_html }}</td>
  <td>{{ log.user|default('System') }}</td>
  <td><a href="{{ path('communication_edit', {id: log.id }) }}"><i class="fas fa-edit"></i></a></td>
</tr>
