{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Communications{% endblock %}

{% block body %}
{% embed '_page_header.html.twig' %}
{% block page_header_title %}Communications <sup><span class="badge badge-secondary">Beta</span></sup>{% endblock %}
{% block page_header_buttons %}
<a role="button" href="{{ path('communication_new') }}" class="btn btn-sm btn-primary"><i class="fas fa-plus fa-fw"></i> New Communication</a>
{% endblock %}
{% endembed %}

{% if communication_logs %}
<div class="card mb-3 shadow">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-striped mb-0">
        <thead>
            <tr>
                <th>Logged At</th>
                <th>Type</th>
                <th>Member</th>
                <th class="w-50">Summary</th>
                <th>User</th>
                <th class="col-edit" data-orderable="false"></th>
            </tr>
        </thead>
        <tbody>
        {% for log in communication_logs %}
            <tr>
                <td class="text-nowrap"><a href="{{ path('communication_show', {id: log.id}) }}">{{ log.loggedAt|date('n/j/Y h:i a', app.user.timezone|default('UTC')) }}</a></td>
                <td>{{ log.typeDisplay }}</td>
                <td><a href="{{ path('member_show', {localIdentifier: log.member.localIdentifier}) }}">{{ log.member.displayName }}</a></td>
                <td>{{ log.summary|truncate(100)|markdown_to_html }}</td>
                <td>{{ log.user|default('System') }}</td>
                <td><a href="{{ path('communication_edit', {id: log.id}) }}"><i class="fas fa-edit fa-fw"></i></a></td>
            </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% else %}
{% include '_no_records_card.html.twig' with {message: 'No Communication Logs matched your criteria.'} %}
{% endif %}
{% endblock %}
