{% macro adminCard(link, text, icon = 'address-book') %}
<div class="col-sm-12 col-md-4 col-lg-3 mb-4">
  <div class="card mb-1">
    <div class="card-body text-center">
      <div class="p-3">
        <a href="{{ path(link) }}">
          <div class="p-3"><i class="{{ icon }} fa-2x"></i></div>
          <div style="min-height:3rem;">{{ text }}</div>
        </a>
      </div>
    </div>
  </div>
</div>
{% endmacro %}

{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Directory Admin{% endblock %}

{% block body %}
{% embed '_page_header.html.twig' %}
{% block page_header_title %}Directory Admin{% endblock %}
{% endembed %}

<div class="row">
  {{ _self.adminCard('member_status_index', 'Member Statuses', 'fas fa-flag') }}
  {{ _self.adminCard('directory_collection_index', 'Directory Collections', 'fas fa-address-book') }}
  {{ _self.adminCard('tag_index', 'Tags', 'fas fa-tags') }}
  {{ _self.adminCard('user_index', 'Users', 'fas fa-users') }}
</div>
{% endblock %}
