{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ app.request.get('q')|escape }}{% endblock %}

{% block body %}
{% embed '_page_header.html.twig' %}
{% block page_header_title %}Search Results{% endblock %}
{% endembed %}

{% for row in results %}
{% set member = row[0] %}
<div class="card mb-3 shadow {% if member.status.isInactive %}inactive{% endif %}" style="max-width:40em;">
  <div class="card-body">
    <a href="{{ path('member_show', {localIdentifier: member.localIdentifier}) }}">{{ member.preferredName }} {{ member.lastName }}</a> ({{ member.classYear}}) - {{ member.status.label }}
    {% include 'member/_badges.html.twig' %}
  </div>
</div>
{% else %}
<div class="card mb-3 shadow">
  <div class="card-body">
    <div class="alert alert-info m-0">No members matched your search criteria.</div>
  </div>
</div>
{% endfor %}

{% endblock %}
