{% extends 'base.html.twig' %}

{% block title %}{{ config.app_name }} - Import Donor Records{% endblock %}

{% block body %}

{% if errors is not empty %}
{% for error in errors %}
<p class="alert alert-warning">{{ error }}</p>
{% endfor %}
{% endif %}

<div class="h4">Donations Import <sup><span class="badge badge-secondary">Beta</span></sup></div>

{{ form_start(importForm) }}
<div class="card mb-3">
  <div class="card-header">Import Donations</div>
  <div class="card-body">
    {{ form_row(importForm.csv_file) }}
    {{ form_row(importForm.dry_run) }}
  </div>
  <div class="card-footer text-right">
    {{ form_widget(importForm.submit) }}
  </div>
</div>
{{ form_rest(importForm) }}


{% if donations %}
<table class="table table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Donor</th>
      <th>Campaign</th>
      <th>Description</th>
      <th>Amount</th>
      <th>Fees</th>
      <th>Net Amount</th>
      <th>Recurring?</th>
    </tr>
  </thead>
  <tbody>
    {% for donation in donations %}
    {% include 'donations/partials/donation_row.html.twig' %}
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('donations') }}
{% endblock %}
