{% set active_route = app.request.get('_route') %}
{% set route_params_slug = app.request.get('_route_params').slug is defined ? app.request.get('_route_params').slug : null %}
<!-- active_route = {{active_route}}; route_params_slug = {{ route_params_slug }}  -->
{% for _collection in get_directory_collections() %}
<li class="nav-item {{ (active_route == 'directory_collection' and route_params_slug == _collection.slug) ? 'active' }}"><a class="nav-link" href="{{ path('directory_collection', {slug: _collection.slug}) }}"><i class="{{ _collection.icon }} fa-fw"></i> <span>{{ _collection.label }}</span></a></li>
{% else %}
{% if is_granted('ROLE_ADMIN') %}
<li class="nav-item bg-info"><a class="nav-link" href="{{ path('directory_collection_new') }}"><i class="fas fa-plus fa-fw"></i> Directory Collection</a></li>
{% endif %}
{% endfor %}
{% if get_tags()|length > 0 %}
<hr class="sidebar-divider my-1"/>
<li class="nav-item {{ active_route == 'tag' ? 'active' }}">
  <a class="nav-link {{ active_route != 'tag' ? 'collapsed' }}" href="#" data-toggle="collapse" data-target="#collapseTags" aria-expanded="true" aria-controls="collapseTags">
    <i class="fas fa-fw fa-tags"></i>
    <span id="headingTags">Tags</span>
  </a>
  <div id="collapseTags" class="collapse {{ active_route == 'tag' ? 'show' }}" aria-labelledby="headingTags" data-parent="#accordionSidebar">
    <div class="bg-white py-2 collapse-inner rounded">
      {% for _tag in get_tags() %}
      <a class="collapse-item text-truncate" href="{{ path('tag', {tagId: _tag.id})}}"><i class="fas fa-tag fa-fw"></i> <span title="{{ _tag.tagName|escape('html_attr') }}">{{ _tag.tagName }}</span></a>
      {% else %}
      <div class="p-2">No tags configured.</div>
      {% endfor %}
    </div>
  </div>
</li>
{% endif %}
<hr class="sidebar-divider my-1"/>
{% if is_granted('ROLE_DONATION_MANAGER') %}
<li class="nav-item {{ active_route == 'donation_index' ? 'active' }}"><a class="nav-link" href="{{ path('donation_index')}}"><i class="fas fa-hand-holding-usd fa-fw"></i> <span>Donations</span></a></li>
{% endif %}
{% if is_granted('ROLE_ADMIN') %}
<li class="nav-item {{ active_route == 'communication_index' ? 'active' }}"><a class="nav-link" href="{{ path('communication_index')}}"><i class="fas fa-bullhorn fa-fw"></i> <span>Communications</span></a></li>
{% endif %}
<li class="nav-item {{ active_route == 'map' ? 'active' }}"><a class="nav-link" href="{{ path('map')}}"><i class="fas fa-map fa-fw"></i> <span>Member Map</span></a></li>
<li class="nav-item {{ active_route == 'member_changes' ? 'active' }}"><a class="nav-link" href="{{ path('member_changes')}}"><i class="fas fa-satellite-dish fa-fw"></i> <span>Recent Changes</span></a></li>
<li class="nav-item {{ active_route == 'export' ? 'active' }}"><a class="nav-link" href="{{ path('export')}}"><i class="fas fa-download fa-fw"></i> <span>Export</span></a></li>
{% if is_granted('ROLE_ADMIN') %}
<li class="nav-item {{ active_route == 'import' ? 'active' }}"><a class="nav-link" href="{{ path('import')}}"><i class="fas fa-upload fa-fw"></i> <span>Import</span></a></li>
{% endif %}
{% if is_granted('ROLE_ADMIN') %}
<hr class="sidebar-divider my-1"/>
<li class="nav-item {{ active_route == 'admin' ? 'active' }}"><a class="nav-link" href="{{ path('admin') }}"><i class="fas fa-cog"></i> <span>Directory Admin</span></a></li>
{% endif %}
