{% set active_route = app.request.get('_route') %}
<!-- active_route = {{active_route}}  -->
<li class="nav-item {{ active_route == 'alumni' ? 'active' }}"><a class="nav-link" href="{{ path('alumni') }}"><i class="fas fa-user-graduate fa-fw"></i> <span>Alumni</span></a></li>
<li class="nav-item {{ active_route == 'lost' ? 'active' }}"><a class="ml-sm-3 nav-link" href="{{ path('lost')}}"><i class="fas fa-frown fa-fw"></i> <span>Lost Alumni</span></a></li>
<li class="nav-item {{ active_route == 'year' ? 'active' }}"><a class="ml-sm-3 nav-link" href="{{ path('year')}}"><i class="fas fa-calendar fa-fw"></i> <span>Class Year</span></a></li>
<li class="nav-item {{ active_route == 'do_not_contact' ? 'active' }}"><a class="ml-sm-3 nav-link" href="{{ path('do_not_contact')}}"><i class="fas fa-ban fa-fw"></i> <span>Do Not Contact</span></a></li>
<li class="nav-item {{ active_route == 'undergraduates' ? 'active' }}"><a class="nav-link" href="{{ path('undergraduates')}}"><i class="fas fa-user fa-fw"></i> <span>Undergraduates</span></a></li>
<li class="nav-item {{ active_route == 'resigned_expelled' ? 'active' }}"><a class="nav-link" href="{{ path('resigned_expelled')}}"><i class="fas fa-thumbs-down fa-fw"></i> <span>Resigned/Expelled</span></a></li>
<li class="nav-item {{ active_route == 'transferred' ? 'active' }}"><a class="nav-link" href="{{ path('transferred')}}"><i class="fas fa-exchange-alt fa-fw"></i> <span>Transferred</span></a></li>
<li class="nav-item {{ active_route == 'other' ? 'active' }}"><a class="nav-link" href="{{ path('other')}}"><i class="fas fa-user-friends fa-fw"></i> <span>Other</span></a></li>
<hr class="sidebar-divider my-1"/>
<li class="nav-item {{ active_route == 'tag' ? 'active' }}">
  <a class="nav-link {{ active_route != 'tag' ? 'collapsed' }}" href="#" data-toggle="collapse" data-target="#collapseTags" aria-expanded="true" aria-controls="collapseTags">
    <i class="fas fa-fw fa-tags"></i>
    <span id="headingTags">Tags</span>
  </a>
  <div id="collapseTags" class="collapse {{ active_route == 'tag' ? 'show' }}" aria-labelledby="headingTags" data-parent="#accordionSidebar">
    <div class="bg-white py-2 collapse-inner rounded">
      {% for _tag in get_tags() %}
      <a class="collapse-item text-truncate" href="{{ path('tag', {tagId: _tag.id})}}"><i class="fas fa-tag fa-fw"></i> <span title="{{ _tag.tagName|escape('html_attr') }}">{{ _tag.tagName }}</span></a>
      {% endfor %}
    </div>
  </div>
</li>
<hr class="sidebar-divider my-1"/>
{% if is_granted('ROLE_DONATION_MANAGER') %}
<li class="nav-item {{ active_route == 'donation_index' ? 'active' }}"><a class="nav-link" href="{{ path('donation_index')}}"><i class="fas fa-hand-holding-usd fa-fw"></i> <span>Donations</span></a></li>
{% endif %}
<li class="nav-item {{ active_route == 'map' ? 'active' }}"><a class="nav-link" href="{{ path('map')}}"><i class="fas fa-map fa-fw"></i> <span>Member Map</span></a></li>
<li class="nav-item {{ active_route == 'member_changes' ? 'active' }}"><a class="nav-link" href="{{ path('member_changes')}}"><i class="fas fa-satellite-dish fa-fw"></i> <span>Recent Changes</span></a></li>
<li class="nav-item {{ active_route == 'export' ? 'active' }}"><a class="nav-link" href="{{ path('export')}}"><i class="fas fa-download fa-fw"></i> <span>Export</span></a></li>
{% if is_granted('ROLE_ADMIN') %}
<li class="nav-item {{ active_route == 'import' ? 'active' }}"><a class="nav-link" href="{{ path('import')}}"><i class="fas fa-upload fa-fw"></i> <span>Import</span></a></li>
{% endif %}
{% if is_granted('ROLE_ADMIN') %}
<hr class="sidebar-divider my-1"/>
<li class="nav-item {{ active_route == 'admin' ? 'active' }}"><a class="nav-link" href="{{ path('admin') }}"><i class="fas fa-cog"></i> <span>Directory Admin</span></a></li>
{% endif %}
