<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{{ config.app_name }}{% endblock %}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    {% block stylesheets -%}
    {{ encore_entry_link_tags('app') }}
    {% endblock %}
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark sticky-top bg-dark p-0">
      <a class="navbar-brand p-2" href="{{ path('home') }}"><i class="far fa-address-book mr-2"></i> {{ config.app_name }}</a>
      <div class="d-inline d-sm d-lg-none">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#toggleNavbar" aria-controls="toggleNavbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse mr-auto navbar-collapse" id="toggleNavbar">
        <div class="container"></div>
        {% if is_granted('ROLE_USER') %}
        <div>
          <ul class="nav">
            <li class="nav-item dropdown">
              <a class="nav-link text-light dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-id-card"></i> {{ app.user.email }}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{{ path('app_profile') }}">Edit Profile</a>
                <a class="dropdown-item" href="{{ path('app_change_password') }}">Change Password</a>
                <a class="dropdown-item" href="{{ path('app_logout') }}">Log Out</a>
              </div>
            </li>
          </ul>
        </div>
        {% endif %}
        <div class="d-lg-none bg-light">
          <ul class="nav flex-column">
            {% if is_granted('ROLE_USER') %}
            {% include '_main_nav.html.twig' %}
            {% endif%}
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-lg-2 d-none d-lg-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              {% if is_granted('ROLE_USER') %}
              {% include '_main_nav.html.twig' %}
              {% endif %}
            </ul>
          </div>
        </nav>
        <main role="main" class="col-lg-9 ml-sm-auto col-lg-10 pt-3 px-4">
          {% for type, messages in app.session.flashBag.all %}
          <div class="py-2">
              {% for message in messages %}
                  {%if type == 'error'%} {% set type = 'danger' %} {%endif%}
                  <div class="alert alert-{{ type }} alert-dismissible fade show" role="alert">
                      {{ message|raw }}
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
              {% endfor %}
          </div>
          {% endfor %}
          {% block body %}{% endblock %}
          <div class="text-right my-3">
            <p class="text-muted"><small><em>Powered by <a href="https://github.com/utmsigep/member-directory" target="_blank">Member Directory</a></small></em></p>
          </div>
        </main>
      </div>
    </div>
    {% include '_modal_confidential.html.twig' %}
    {% include '_toast_template.html.twig' %}
    {% block javascripts %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    {{ encore_entry_script_tags('app') }}
    {% endblock %}
  </body>
</html>
