<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{{ config.app_name }}{% endblock %}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    {% block stylesheets -%}
    {{ encore_entry_link_tags('app') }}
    {% endblock %}
  </head>

  <body>
    <div class="container">
      <div class="row">
        <main role="main" class="offset-md-2 col-md-8">
          {% for type, messages in app.session.flashBag.all %}
          <div class="py-2">
              {% for message in messages %}
                  {%if type == 'error'%} {% set type = 'danger' %} {%endif%}
                  <div class="alert alert-{{ type }}">
                      {{ message|raw }}
                  </div>
              {% endfor %}
          </div>
          {% endfor %}
          {% block body %}{% endblock %}
        </main>
      </div>
    </div>
    <div class="text-center my-3">
      <p class="text-muted"><small><em>Powered by <a href="https://github.com/utmsigep/member-directory" target="_blank">Member Directory</a></small></em></p>
    </div>
    {% block javascripts %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    {{ encore_entry_script_tags('app') }}
    {% endblock %}
  </body>
</html>
