<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="format-detection" content="telephone=no">
    <title>{% block title %}{{ config.app_name }}{% endblock %}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="manifest" href="/site.webmanifest">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    {% block stylesheets -%}
    {{ encore_entry_link_tags('app') }}
    {% endblock %}
  </head>

  <body id="page-top">

    {% if app.user and is_granted('ROLE_USER') %}
    <form action="{{ path('search') }}" method="GET">
      <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6 text-center" href="{{ path('home') }}">Member Directory</a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <input class="form-control form-control-dark w-100 rounded-0 border-0 member-search-autocomplete" type="search" name="q" value="{{ app.request.get('q')|escape('html_attr') }}" placeholder="Directory Search" aria-label="Search" autocomplete="off">

          <div class="nav-menu text-nowrap">
            <!-- Nav Item - User Information -->
            <div class="nav-item dropdown no-arrow">
              <a class="btn rounded-0 border-dark dropdown-toggle text-bg-dark" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 text-gray-600 small">{{ (app.user.name ? app.user.name : app.user.email)|u.truncate(45, '...') }}</span>
                <i class="fas {% if is_granted('ROLE_ADMIN') %}fa-user-shield{% else %}fa-user{% endif %} fa-fw"></i>
              </a>
              <!-- Dropdown - User Actions -->
              <div class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="{{ path('app_profile') }}">
                  <i class="fas fa-id-card fa-sm fa-fw mr-2 text-gray-400"></i>
                  Edit Profile
                </a>
                <a class="dropdown-item" href="{{ path('app_change_password')}}">
                  <i class="fas fa-lock fa-sm fa-fw mr-2 text-gray-400"></i>
                  Change Password
                </a>
                <a class="dropdown-item" href="{{ path('app_manage_two_factor')}}">
                  <i class="fas fa-stopwatch fa-sm fa-fw mr-2 text-gray-400"></i>
                  Two-Factor Security
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ path('app_logout') }}">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </div>
          </div>
      </header>
    </form>
    {% else %}
    <div class="nav-item"><a class="" href="{{ path('app_login')}}"><i class="fas fa-sign-in-alt fa-fw"></i> <span>Sign In</span></a></div>
    {% endif %}

    <div class="container-fluid">
      <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse">
          <div class="position-sticky pt-3 sidebar-sticky">
            <ul class="nav flex-column">
              {% if app.user and is_granted('ROLE_USER') %}
              {% include '_main_nav.html.twig' %}
              {% endif %}
            </ul>
          </div>
        </nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
          {% include '_alerts.html.twig' %}
          {% block body %}{% endblock %}

          <!-- Footer -->
          <footer>
            <div class="container my-5">
              <div class="copyright text-center my-auto">
                <small class="text-muted">Powered by <a href="https://github.com/utmsigep/member-directory" target="_blank">Member Directory</a> ({{ config.version }})</small>
              </div>
            </div>
          </footer>
          <!-- End of Footer -->

        </main>

      </div>
    </div>

    {% include '_modal_confidential.html.twig' %}
    {% include '_toast_template.html.twig' %}

    {% block javascripts %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    {{ encore_entry_script_tags('app') }}
    {% endblock %}
  </body>
</html>
