<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Member Record Update</title>
  </head>
  <body style="font-family:sans-serif; font-size:10pt;">
    <p>The following update has been submitted through the website:</p>

    <table role="presentation" border="0" cellpadding="5" cellspacing="2">
      <tbody>
        <tr>
          <th align="left">External Identifier</th>
          <td>{{ member.externalIdentifier }}</td>
        </tr>
        <tr>
          <th align="left">Local Identifier</th>
          <td>{{ member.localIdentifier }}</td>
        </tr>
        <tr>
          <th align="left">Name</th>
          <td>{{ member.displayName }}</td>
        </tr>
        <tr>
          <td colspan="2"><hr /></td>
        </tr>
        <tr>
          <th align="left">Class Year</th>
          <td>{{ member.classYear }}</td>
        </tr>
        <tr>
          <th align="left">Mailing Address Line 1</th>
          <td>{{ member.mailingAddressLine1 }}</td>
        </tr>
        <tr>
          <th align="left">Mailing Address Line 2</th>
          <td>{{ member.mailingAddressLine2 }}</td>
        </tr>
        <tr>
          <th align="left">Mailing City</th>
          <td>{{ member.mailingCity }}</td>
        </tr>
        <tr>
          <th align="left">Mailing State</th>
          <td>{{ member.mailingState }}</td>
        </tr>
        <tr>
          <th align="left">Mailing Postal Code</th>
          <td>{{ member.mailingPostalCode }}</td>
        </tr>
        <tr>
          <th align="left">Primary Email</th>
          <td>{{ member.primaryEmail }}</td>
        </tr>
        <tr>
          <th align="left">Primary Telephone Number</th>
          <td>{{ member.primaryTelephoneNumber }}</td>
        </tr>
        <tr>
          <th align="left">Employer</th>
          <td>{{ member.employer }}</td>
        </tr>
        <tr>
          <th align="left">Job Title</th>
          <td>{{ member.jobTitle }}</td>
        </tr>
        <tr>
          <th align="left">Occupation/Industry</th>
          <td>{{ member.occupation }}</td>
        </tr>
      </tbody>
    </table>

  </body>
</html>
