{% extends 'base_public.html.twig' %}

{% block title %}Update My Member Record{% endblock %}

{% block body %}
{% if config.app_logo %}
<div class="text-center p-5">
  <img src="{{ config.app_logo }}" class="img-fluid" style="max-height:40vh" />
</div>
{% endif %}
<div>
  <div class="h4">Update My Member Record</div>
  {% if member.id %}
  <div class="alert alert-info">Hello <strong>{{ member.displayName }}</strong>! We have pre-loaded your information for you. This link will expire once the update is processed.</div>
  {{ form_start(form) }}
  {% if form.vars.valid == false %}
  <div class="alert alert-danger">Please correct the errors below.</div>
  {% endif %}
  <div class="card mb-3 shadow">
    <div class="card-body">
    {{ form_row(form.classYear) }}
    </div>
  </div>
  <div class="card mb-3 shadow">
    <div class="card-body">
      {{ form_row(form.mailingAddressLine1) }}
      {{ form_row(form.mailingAddressLine2) }}
      <div class="row">
        <div class="col-lg-6">
          {{ form_row(form.mailingCity) }}
        </div>
        <div class="col-lg-2">
          {{ form_row(form.mailingState) }}
        </div>
        <div class="col-lg-4">
          {{ form_row(form.mailingPostalCode) }}
        </div>
      </div>
      <hr />
      {{ form_row(form.primaryEmail) }}
      {{ form_row(form.primaryTelephoneNumber) }}
    </div>
  </div>
  <div class="card mb-3 shadow">
    <div class="card-body">
      {{ form_row(form.employer) }}
      {{ form_row(form.jobTitle) }}
      {{ form_row(form.occupation) }}
      <hr />
      {{ form_row(form.linkedinUrl) }}
    </div>
  </div>
  <div class="text-right">
    <button class="btn btn-primary">{{ button_label|default('Update') }}</button>
  </div>
  {{ form_rest(form) }}
  {{ form_end(form)}}
  {% else %}
  <p>Sorry, the link you were given has expired for privacy reasons. Please reply to the original message that brought you here to update your Member Record.</p>
  {% endif %}
</div>
{% endblock %}
