{% extends 'base.html.twig' %}

{% block title %}{{ parent()}} - {{ tag }}{% endblock %}

{% block body %}
{% embed '_page_header.html.twig' %}
{% block page_header_title %}{{ tag }}{% endblock %}
{% block page_header_buttons %}
<a role="button" href="{{ path('tag_edit', {'id': tag.id}) }}" class="btn btn-sm btn-primary"><i class="fas fa-edit fa-fw"></i> Edit</a>
{% endblock %}
{% endembed %}

{% include 'admin/_nav.html.twig' %}

{% if tag.members|length > 0 %}
<div class="card mb-3 shadow">
  <div class="card-header">Members</div>
  <div class="card-body">
    <ul>
      {% for member in tag.members %}
      <li><a href="{{ path('member_show', {localIdentifier: member.localIdentifier}) }}">{{ member }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>
{% else %}
{% include '_no_records_card.html.twig' with {message: 'No members tagged with "' ~ tag.tagName ~ '".'} %}
{% endif %}

{% endblock %}
