{{ form_start(form) }}
<div class="card mb-3 shadow" style="max-width:40rem">
  <div class="card-header">Member Status</div>
  <div class="card-body">
    {{ form_row(form.code, {help: 'Unique identifier for data merging. Examples: <tt>ALUMNUS</tt> or <tt>RESIGNED</tt>', help_html: true}) }}
    {{ form_row(form.label, {help: 'Short name of the Member Status. Examples: <tt>Alumnus</tt> or <tt>Resigned</tt>', help_html: true}) }}
    {{ form_row(form.isInactive, {label: 'Inactive Status?', help: 'If checked, Member Status is excluded from maps, update lists and some sync operations.'}) }}
    {% if form.createDirectoryCollection is defined %}
    {{ form_row(form.createDirectoryCollection, {label: 'Create Directory Collection?', help: 'If checked, will create a corresponding Directory Collection for this Member Status.'}) }}
    {% endif %}
  </div>
  <div class="card-footer text-right">
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
  </div>
</div>
{{ form_rest(form) }}
{{ form_end(form) }}
