{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Member Statuses{% endblock %}

{% block body %}
{% embed '_page_header.html.twig' %}
{% block page_header_title %}Member Statuses{% endblock %}
{% block page_header_buttons %}
<a role="button" href="{{ path('member_status_new') }}" class="btn btn-sm btn-primary"><i class="fas fa-plus fa-fw"></i> New Member Status</a>
{% endblock %}
{% endembed %}

{% include 'admin/_nav.html.twig' %}

{% if member_statuses %}
<div class="card mb-3 shadow">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Code</th>
            <th>Label</th>
            <th><i class="fas fa-users fa-fw"></i></th>
            <th class="col-edit">&nbsp;</th>
          </tr>
        </thead>
        <tbody>
        {% for member_status in member_statuses %}
        <tr>
          <td><a href="{{ path('member_status_show', {'id': member_status.id}) }}">{{ member_status.code }}</a></td>
          <td>{{ member_status.label }}</td>
          <td>{{ member_status.members|length|default('0') }}</td>
          <td>
              <a href="{{ path('member_status_edit', {'id': member_status.id}) }}"><i class="fas fa-edit fa-fw"></i></a>
          </td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% else %}
{% include '_no_records_card.html.twig' with {message: 'No Member Statuses matched your criteria.'} %}
{% endif %}
{% endblock %}
