{% extends 'base.html.twig' %}

{% block title %}{{ parent()}} - {{ member_status }}{% endblock %}

{% block body %}
{% embed '_page_header.html.twig' %}
{% block page_header_title %}{{ member_status }}{% endblock %}
{% block page_header_buttons %}
<a role="button" href="{{ path('member_status_edit', {'id': member_status.id}) }}" class="btn btn-sm btn-primary"><i class="fas fa-edit fa-fw"></i> Edit</a>
{% endblock %}
{% endembed %}

{% include 'admin/_nav.html.twig' %}

<dl>
    <dt>Code</dt>
    <dd><tt>{{ member_status.code }}</tt></dd>
</dl>

{% if member_status.members|length > 0 %}
<div class="card mb-3 shadow">
  <div class="card-header">Members</div>
  <div class="card-body">
    <ul>
      {% for member in member_status.members %}
      <li><a href="{{ path('member_show', {localIdentifier: member.localIdentifier}) }}">{{ member }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>
{% else %}
{% include '_no_records_card.html.twig' with {message: 'No members with status "' ~ member_status.label ~ '".'} %}
{% endif %}

{% endblock %}
