{{ form_start(form) }}
<div class="card mb-3 shadow" style="max-width:40rem">
  <div class="card-body">
    {{ form_row(form.label) }}
    {{ form_row(form.icon) }}
    {{ form_row(form.memberStatuses) }}
    {{ form_row(form.showMemberStatus) }}
    {{ form_row(form.groupBy) }}
    <table class="table">
      <thead>
        <tr>
          <th>Record Flags</th>
          <th>Filter</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Lost</td>
          <td>{{ form_widget(form.filterLost) }}</td>
        </tr>
        <tr>
          <td>Do Not Contact</td>
          <td>{{ form_widget(form.filterLocalDoNotContact) }}</td>
        </tr>
        <tr>
          <td>Deceased</td>
          <td>{{ form_widget(form.filterDeceased) }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer text-right">
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
  </div>
</div>
{{ form_rest(form) }}
{{ form_end(form) }}
