{% extends 'base.html.twig' %}
{% import 'user/_macros.html.twig' as macros %}

{% block title %}{{ parent() }} - Users{% endblock %}

{% block body %}
{% embed '_page_header.html.twig' %}
{% block page_header_title %}Users{% endblock %}
{% block page_header_buttons %}
<a role="button" href="{{ path('user_new') }}" class="btn btn-sm btn-primary"><i class="fas fa-plus fa-fw"></i> New User</a>
{% endblock %}
{% endembed %}

{% include 'admin/_nav.html.twig' %}

{% if users %}
<div class="card mb-3 shadow">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Login Email</th>
            <th>Name</th>
            <th>Roles</th>
            <th>Two-Factor</th>
            <th>Last Login</th>
            <th class="col-edit">&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
          <tr>
            <td><a href="{{ path('user_show', {'id': user.id}) }}">{{ user.email }}</a></td>
            <td>{{ user.name }}</td>
            <td>{{ macros.user_roles(user) }}</td>
            <td>
              {% if user.isTotpAuthenticationEnabled %}
              <i class="fas fa-check fa-fw text-success"></i> Enabled</a>
              {% else %}
              <i class="fas fa-times fa-fw text-danger"></i> Disabled</a>
              {% endif %}
            </td>
            <td>{{ user.lastLogin ? user.lastLogin|date('F j, Y g:i a') : 'Never' }}</td>
            <td>
              <a href="{{ path('user_edit', {'id': user.id}) }}"><i class="fas fa-edit fa-fw"></i></a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% else %}
{% include '_no_records_card.html.twig' with {message: 'No Users matched your criteria.'} %}
{% endif %}
{% endblock %}
