{% extends 'base.html.twig' %}
{% import 'user/_macros.html.twig' as macros %}

{% block title %}{{ parent() }} - Users{% endblock %}

{% block body %}
{% embed '_page_header.html.twig' %}
{% block page_header_title %}Search Results{% endblock %}
{% block page_header_buttons %}
<a role="button" href="{{ path('user_new') }}" class="btn btn-sm btn-primary"><i class="fas fa-plus fa-fw"></i> New User</a>
{% endblock %}
{% endembed %}

{% include 'admin/_nav.html.twig' %}

<div class="card mb-3 shadow">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table">
        <thead>
            <tr>
                <th>Login E-mail</th>
                <th>Roles</th>
                <th class="col-edit">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a href="{{ path('user_show', {'id': user.id}) }}">{{ user.email }}</a></td>
                <td>{{ macros.user_roles(user.roles) }}</td>
                <td>
                    <a href="{{ path('user_edit', {'id': user.id}) }}"><i class="fas fa-edit fa-fw"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="99"><div class="alert alert-info">No records matched your criteria.</div></td>
            </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
